Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

Removed extra image
  packages/reporting-e2e/docs/resources/e2e-E2e-start-process.png
Due: reporting

Added reporting E2E tests to pipeline (#435)
  .github/workflows/reporting-e2e.yml
  lerna.json
  packages/reporting-e2e/.gitignore
  packages/reporting-e2e/README.md
  packages/reporting-e2e/certs/ca.crt
  packages/reporting-e2e/certs/ca.key
  packages/reporting-e2e/certs/keycloak.crt
  packages/reporting-e2e/certs/keycloak.key
  packages/reporting-e2e/certs/keycloak.pub
  packages/reporting-e2e/certs/openssl.cnf
  packages/reporting-e2e/docker/docker-compose.yml
  packages/reporting-e2e/docker/keycloak/Dockerfile
  packages/reporting-e2e/docker/keycloak/dockert
  packages/reporting-e2e/docker/keycloak/keycloak.mv.db
  packages/reporting-e2e/docs/resources/reporting-e2e-process.png
  packages/reporting-e2e/env.d.ts
  packages/reporting-e2e/generate-certs.sh
  packages/reporting-e2e/package.json
  packages/reporting-e2e/reporting_server_config.py
  packages/reporting-e2e/scripts/auth-ready.js
  packages/reporting-e2e/scripts/start-reporting-server.sh
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/serve.json
  packages/reporting-e2e/tests/0-smoke.test.ts
  packages/reporting-e2e/tests/1-login.test.ts
  packages/reporting-e2e/tests/2-logs.test.ts
  packages/reporting-e2e/tests/3-reporting.test.ts
  packages/reporting-e2e/tests/mock-data.ts
  packages/reporting-e2e/tests/utils.ts
  packages/reporting-e2e/tsconfig.json
  packages/reporting-e2e/wdio.conf.js
  packages/reporting/src/components/reports/ingestor-state-report.tsx
Due: reporting

working implementation of zooming
  packages/dashboard/.gitignore
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/robots/utils.ts
Due: dashboard, react-components

address comments
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/models/tortoise_models/authorization.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_utils.py
  packages/api-server/api_server/test_permissions.py
  packages/react-components/lib/loading.stories.tsx
  packages/rmf-auth/lib/keycloak.ts
Due: react-components, api-server, rmf-auth

remove renderAct
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
Due: dashboard

use object coords instead
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

zoom out once accordian is closed
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
Due: react-components

test assert user roles when loading from db
  packages/api-server/api_server/models/test_user.py
Due: api-server

fix ci
  packages/react-components/package.json
Due: react-components

add types fix ci
  packages/react-components/package.json
Due: react-components

Update gateway.py
  packages/api-server/api_server/gateway.py
Due: api-server

add missing dep
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
Due: dashboard

add radio button component
  packages/react-components/lib/commands/custom-form.tsx
  packages/react-components/lib/commands/index.ts
  packages/react-components/lib/radio-button-group.spec.tsx
  packages/react-components/lib/radio-button-group.stories.tsx
  packages/react-components/lib/radio-button-group.tsx
Due: react-components

Update builder.dockerfile
  example-deployment/docker/builder.dockerfile
Due: none

Added __init__ to models folder
  packages/reporting-server/models/__init__.py
Due: reporting, reporting-server

charger infrastructure
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/apis/chargers-api.ts
  packages/api-client/lib/openapi/models/charger-state.ts
  packages/api-client/lib/openapi/models/duration.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/chargers.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/charger_state.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/chargers.py
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard, api-server

change helper text
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

remove zoom out
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
Due: react-components

tooltips and disable buttons (#441)
  packages/dashboard-e2e/tests/negotiations.test.ts
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/react-components/lib/benchmarks/robots.stories.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/robots/base-marker.ts
  packages/react-components/lib/robots/default-marker.spec.tsx
  packages/react-components/lib/robots/robot-marker.spec.tsx
  packages/react-components/lib/robots/robot-marker.tsx
  packages/react-components/lib/robots/robot-markers.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Feature/omni panel zoom (#444)
  packages/dashboard/.gitignore
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/item-accordion-summary.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/package.json
Due: dashboard, react-components

remove default theme
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/settings.ts
Due: dashboard

use convention instead of code to build urls, move silentCheckSsoUri to the consumer
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
  packages/rmf-auth/lib/authenticator.ts
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/utils/index.ts
  packages/rmf-auth/lib/utils/url.ts
Due: dashboard, rmf-auth

remove trajectory socket and authenticator contexts
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/auth/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

rework routes
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/scripts/config.js
  packages/dashboard-e2e/scripts/start.js
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

change to PascalCase
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

try add admin route
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

rework rmf-app contexts
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/doors-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/lift-overlay.tsx
Due: dashboard

add missing devdep
  package-lock.json
  packages/dashboard/package.json
Due: dashboard

maybe fix all async lifecycle leaks
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/components/utils.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/loading.stories.tsx
  packages/react-components/lib/use-async.spec.ts
  packages/react-components/lib/use-async.ts
Due: dashboard, react-components

role list page
  packages/api-client/lib/openapi/apis/admin-api.ts
  packages/api-client/lib/openapi/models/get-role-permission.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/post-role-permissions.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/routes/admin.py
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
  packages/dashboard/src/components/admin/tests/role-list-card.test.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/utils.ts
  packages/dashboard/src/stories/admin/create-role-dialog.stories.tsx
  packages/dashboard/src/stories/admin/create-user-dialog.stories.tsx
  packages/react-components/lib/error-snackbar.spec.tsx
  packages/react-components/lib/error-snackbar.stories.tsx
  packages/react-components/lib/error-snackbar.tsx
  packages/react-components/lib/header-bar.stories.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/logo-button.spec.tsx
Due: dashboard, react-components, api-server

fix appbar routing
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

rework rmf-auth
  .eslintrc.js
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/reporting/src/app-config.ts
  packages/reporting/src/components/app.tsx
  packages/rmf-auth/.eslintrc.js
  packages/rmf-auth/.gitignore
  packages/rmf-auth/lib/components/index.ts
  packages/rmf-auth/lib/components/login-base.tsx
  packages/rmf-auth/lib/components/login-card.tsx
  packages/rmf-auth/lib/components/login-hoc.tsx
  packages/rmf-auth/lib/components/login-page.test.tsx
  packages/rmf-auth/lib/components/login.stories.tsx
  packages/rmf-auth/lib/components/private-route-base.tsx
  packages/rmf-auth/lib/components/private-route-hoc.tsx
  packages/rmf-auth/lib/components/private-route.test.tsx
  packages/rmf-auth/lib/components/private-route.tsx
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/package.json
  packages/rmf-auth/tests/components/login-base.test.tsx
  packages/rmf-auth/tests/components/login-hoc.test.tsx
  packages/rmf-auth/tests/components/private-route-base.test.tsx
  packages/rmf-auth/tests/components/private-route-hoc.test.tsx
  packages/rmf-auth/tests/utils/url.test.ts
  packages/rmf-auth/tsconfig.json
Due: dashboard, reporting, rmf-auth

admin router
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/index.ts
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/router.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/theme.ts
  packages/dashboard/src/stories/admin/drawer.stories.tsx
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/logo-button.spec.tsx
  packages/react-components/lib/logo-button.stories.tsx
  packages/react-components/lib/logo-button.tsx
Due: dashboard, react-components

fix build
  packages/react-components/scripts/build.js
  packages/rmf-auth/package.json
Due: react-components, rmf-auth

address most comments
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/omni-panel.stories.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: react-components

add route for user profile page
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/router.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/react-components/lib/use-async.spec.ts
  packages/react-components/lib/use-async.ts
Due: dashboard, react-components

refresh when user assigned roles
  packages/dashboard/src/components/admin/user-profile-page.tsx
Due: dashboard

integration test config
  example-deployment/k8s/reporting-server.yaml
  example-deployment/k8s/rmf-server.yaml
Due: none

Changed the structure of the dict of rmf config
  example-deployment/rmf_server_config.py
Due: none
