Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

Moved aerich to core dependencies
  example-deployment/docker/reporting-server.dockerfile
  packages/reporting-server/setup.py
Due: reporting, reporting-server

removed extra lines
  example-deployment/k8s/jobs.yaml
Due: none

Updated optional name parameters from aerich to migration
  example-deployment/docker/reporting-server.dockerfile
  packages/reporting-server/setup.py
Due: reporting, reporting-server

Added migration test files to migrations/ folder, updated migration test
  .github/workflows/reporting-server-migration.yml
  packages/reporting-server/migration-test.dockerfile
  packages/reporting-server/migrations/aerich.ini
  packages/reporting-server/migrations/app.py
Due: reporting, reporting-server

Fixed config file from migrations
  packages/reporting-server/migrations/app.py
Due: reporting, reporting-server

Fixed reporting-migration docker
  example-deployment/docker/reporting-server-migrations.dockerfile
Due: none

Migrations running correctly on k8s cluster. Postgres as default db. Separated aerich config
  example-deployment/deploy.sh
  example-deployment/docker/reporting-server-migrations.dockerfile
  example-deployment/docker/reporting-server.dockerfile
  example-deployment/k8s/jobs.yaml
  packages/reporting-server/aerich.ini
  packages/reporting-server/rest_server/aerich_config.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/default_config.py
Due: reporting, reporting-server

Created job script, Updated example-deploy Readme
  example-deployment/README.md
  example-deployment/jobs.sh
Due: none

Update packages/reporting-server/README.md
  packages/reporting-server/README.md
Due: reporting, reporting-server

Added postgres documentation
  packages/reporting-server/README.md
Due: reporting, reporting-server

Updated Readme
  example-deployment/README.md
  packages/reporting-server/README.md
  packages/reporting-server/package.json
Due: reporting, reporting-server

Update README.md
  packages/reporting-server/README.md
Due: reporting, reporting-server

Using ubuntu image instead of rmf-web/builder
  example-deployment/docker/reporting-server.dockerfile
Due: none

Added python-dateutil as requeriment on the reporting-server
  packages/reporting-server/setup.py
Due: reporting, reporting-server

added a start:dev script, script to check if there are migrations to run
  packages/reporting-server/package.json
  packages/reporting-server/rest_server/__dev__.py
  packages/reporting-server/run_dev.sh
  packages/reporting-server/setup.py
Due: reporting, reporting-server

Deploy minio just one time
  example-deployment/deploy.sh
Due: none

Renamed reporting-server-migration script. Updated Deploy script and Readme.
  example-deployment/README.md
  example-deployment/deploy.sh
  example-deployment/k8s/jobs/cronjobs.yaml
  example-deployment/k8s/jobs/reporting-server-migrations-job.yaml
  example-deployment/run-reporting-sever-migrations.sh
Due: none

Updated readme
  packages/reporting-server/README.md
Due: reporting, reporting-server

Removed __dev__, updated script run_dev and removed dev from setup
  packages/reporting-server/rest_server/__dev__.py
  packages/reporting-server/run_dev.sh
  packages/reporting-server/setup.py
Due: reporting, reporting-server

Added documentation about how to configure the db url
  packages/reporting-server/README.md
Due: reporting, reporting-server

Script to run migration:test
  packages/reporting-server/README.md
  packages/reporting-server/migration-test.dockerfile
  packages/reporting-server/migration_test.sh
  packages/reporting-server/package.json
Due: reporting, reporting-server

Add postgres documentation
  packages/reporting-server/README.md
Due: reporting, reporting-server

Removed run-reporting-server-migrations and left the kubernetes default behaviors
  example-deployment/deploy.sh
  example-deployment/run-reporting-sever-migrations.sh
Due: none

Updated documentation
  example-deployment/README.md
Due: none

Updated aerich version, add python buster as source
  example-deployment/docker/reporting-server.dockerfile
  packages/reporting-server/aerich.ini
  packages/reporting-server/migration_test.sh
  packages/reporting-server/migrations/aerich.ini
  packages/reporting-server/setup.py
Due: reporting, reporting-server

Added a nightly build of the reporting-server
  .github/workflows/reporting-e2e.yml
  packages/reporting-e2e/docker/reporting-server/Dockerfile
Due: reporting

Added a good way to determine if postgres is up and running on the docker container
  packages/reporting-server/migration_test.sh
Due: reporting, reporting-server

build image test2
  .github/workflows/reporting-e2e.yml
  .github/workflows/reporting-server-migration.yml
  .github/workflows/reporting-server.yml
Due: none

test reporting-server build
  .github/workflows/reporting-e2e.yml
Due: none

test4
  .github/workflows/reporting-e2e.yml
Due: none

Test3
  .github/workflows/reporting-e2e.yml
Due: none

Test5
  .github/workflows/reporting-e2e.yml
Due: none

Added reporting-server and migrations github actions build and push
  .github/workflows/reporting-e2e.yml
  .github/workflows/reporting-server-migration.yml
  .github/workflows/reporting-server.yml
  packages/reporting-e2e/docker/reporting-server-migrations/Dockerfile
Due: reporting

Set generate_schemas to False
  packages/reporting-server/rest_server/app.py
Due: reporting, reporting-server

Updated init migration and updated aerich_config
  packages/reporting-server/migrations/models/0_20210723163355_init.sql
  packages/reporting-server/rest_server/aerich_config.py
Due: reporting, reporting-server

fix linting
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

add background color for omnipanel
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/omni-panel.stories.tsx
  packages/react-components/lib/omni-panel.tsx
Due: dashboard, react-components

fix robot, task info stories background
  packages/react-components/lib/robots/robot-info.stories.tsx
  packages/react-components/lib/tasks/task-info.stories.tsx
Due: react-components

add confirmation dialog when deleting roles
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/tests/user-list-card.test.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/stories/admin/role-list-card.stories.tsx
  packages/react-components/lib/confirmation-dialog.stories.tsx
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components
