Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

change traj color to grey when cleaning
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
Due: dashboard

refactor rmf_repo to be used as a fastapi dep, routes should never use the tortoise models directly, this help enforces authorization
  packages/api-server/api_server/app.py
  packages/api-server/api_server/base_app.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/building_map.py
  packages/api-server/api_server/models/dispensers.py
  packages/api-server/api_server/models/doors.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/models/ingestors.py
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/door_state.py
  packages/api-server/api_server/models/tortoise_models/fleet_state.py
  packages/api-server/api_server/models/tortoise_models/health.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

fix crash when generating docs
  packages/api-server/api_server/__init__.py
  packages/api-server/api_server/models/health.py
Due: api-server

update client
  packages/api-client/lib/openapi/apis/dispensers-api.ts
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/ingestors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/models/api-server-models-fleets-robot-state.ts
  packages/api-client/lib/openapi/models/api-server-models-ros-pydantic-rmf-fleet-msgs-robot-state-robot-state.ts
  packages/api-client/lib/openapi/models/fleet-state.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/pydantic-dispenser-health.ts
  packages/api-client/lib/openapi/models/pydantic-door-health.ts
  packages/api-client/lib/openapi/models/pydantic-ingestor-health.ts
  packages/api-client/lib/openapi/models/pydantic-lift-health.ts
  packages/api-client/lib/openapi/models/pydantic-robot-health.ts
  packages/api-client/lib/openapi/models/robot.ts
  packages/api-client/lib/openapi/models/task-summary.ts
  packages/api-client/lib/version.ts
Due: none

fix socketio endpoints
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/utils.py
Due: api-server

remove pydantic prefix as it messes up docs
  packages/api-client/lib/openapi/apis/dispensers-api.ts
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/ingestors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/models/dispenser-health.ts
  packages/api-client/lib/openapi/models/door-health.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/ingestor-health.ts
  packages/api-client/lib/openapi/models/lift-health.ts
  packages/api-client/lib/openapi/models/robot-health.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/health.py
Due: api-server

fix fast io tests
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/utils.py
Due: api-server

add package-lock
  package-lock.json
Due: none

revert config aud to dashboard
  example-deployment/rmf_server_config.py
Due: none

update public folder with assets and silent check sso
  packages/minimal/public/defaultLogo.png
  packages/minimal/public/favicon.ico
  packages/minimal/public/robots.txt
  packages/minimal/public/silent-check-sso.html
Due: none

fix unsubscribe called before subscription is done
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

rename minimal login
  packages/minimal/src/components/app.tsx
Due: none

fix missing robots in fleet states
  packages/api-server/api_server/repositories/rmf.py
Due: api-server

fix double subscribe of building map
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

maybe fix submitting tasks
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

remove config files
  example-deployment/docker/reporting.dockerfile
  nginx.conf
Due: none

add watch tests
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_admin.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/test_main.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

remove unused devdep
  Pipfile
  Pipfile.lock
Due: none

create admin user
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

fix reporting getting infinite redirect
  example-deployment/docker/dashboard.dockerfile
  example-deployment/docker/reporting.dockerfile
  example-deployment/k8s/reporting.yaml
Due: none

abstract into single page
  packages/minimal/src/components/dashboard/dashboard.tsx
  packages/minimal/src/components/single-responsibility/send-loop-task.tsx
Due: none

import icons into src dir
  package-lock.json
  packages/dashboard/.gitignore
  packages/dashboard/package.json
  packages/dashboard/scripts/setup/get-icons.js
  packages/dashboard/scripts/setup/setup.js
Due: dashboard

load robot icons with dynamic import
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-robots.test.ts
  packages/react-components/lib/robots/robot-marker.tsx
Due: dashboard, react-components

load dispenser icons with dynamic import
  packages/dashboard/src/components/schedule-visualizer/dispensers-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/react-components/lib/dispensers/dispenser-marker.tsx
Due: dashboard, react-components

load logo with dynamic import
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager-logos.ts
Due: dashboard

fix tests
  packages/dashboard/src/components/tests/app.test.tsx
  packages/dashboard/src/managers/tests/resource-manager-dispensers.test.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
  packages/dashboard/src/managers/tests/resource-manager-robots.test.ts
Due: dashboard

add back location field
  packages/react-components/lib/robots/robot-accordion.tsx
Due: react-components

move resources imported path to assets/resources, move defaultLogo to assets
  packages/dashboard/.gitignore
  packages/dashboard/scripts/setup/get-icons.js
  packages/dashboard/src/assets/defaultLogo.png
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-robots.test.ts
Due: dashboard

remove x and y
  packages/react-components/lib/robots/robot-accordion.tsx
Due: react-components

move resolving ros package dir to get-icons
  packages/dashboard/scripts/setup/get-icons.js
  packages/dashboard/scripts/setup/setup.js
Due: dashboard

use separate resource config in e2e tests
  packages/dashboard-e2e/dashboard-resources.json
  packages/dashboard-e2e/scripts/get-resources-location.js
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard/scripts/setup/setup.js
Due: dashboard

update env variables in dockerfile
  example-deployment/docker/minimal.dockerfile
  packages/minimal/.env
Due: none

fix(example-deployment): fix reporting infinite redirect (#460)
  example-deployment/docker/dashboard.dockerfile
  example-deployment/docker/reporting.dockerfile
  example-deployment/k8s/reporting.yaml
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

update readme and formatting
  example-deployment/README.md
Due: none

Refactor/requested changes 1 (#457)
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/robots/robot-accordion.spec.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/robots/robot-marker.tsx
Due: dashboard, react-components

serve static dir with cache-control
  example-deployment/docker/dashboard.dockerfile
  example-deployment/docker/reporting.dockerfile
Due: none

Add nginx config for proper ip forwarding
  example-deployment/k8s/ingress.yaml
Due: none

use proper cp semantics; allow some commands to fail
  packages/dashboard/scripts/setup/get-icons.js
  packages/dashboard/scripts/setup/setup.js
Due: dashboard
