Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

remove user following main
  packages/minimal/src/components/app.tsx
Due: none

update auth changes
  packages/minimal/src/components/auth/__mocks__/fake-authenticator.ts
  packages/minimal/src/components/auth/contexts.ts
  packages/minimal/src/components/dashboard/auto-refresh.tsx
  packages/minimal/src/components/dashboard/dashboard.tsx
  packages/minimal/src/components/rmf-app/rmf-app.tsx
  packages/minimal/src/components/rmf-app/rmf-ingress.ts
Due: none

use footprint (#451)
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
Due: dashboard

working version of persisting dates
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.tsx
  packages/react-components/lib/reports/door-state/door-state-report.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.tsx
  packages/react-components/lib/reports/health/health-report.tsx
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report.tsx
  packages/react-components/lib/reports/user-report/user-login-report.tsx
  packages/react-components/lib/reports/user-report/user-logout-report.tsx
  packages/react-components/lib/reports/utils.ts
  packages/reporting/src/components/report-dashboard.tsx
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reports/dispenser-state-report.tsx
  packages/reporting/src/components/reports/door-state-report.tsx
  packages/reporting/src/components/reports/fleet-state-report.tsx
  packages/reporting/src/components/reports/health-report.tsx
  packages/reporting/src/components/reports/ingestor-state-report.tsx
  packages/reporting/src/components/reports/lift-state-report.tsx
  packages/reporting/src/components/reports/task-summary-report.tsx
  packages/reporting/src/components/reports/user-login-failure-report.tsx
  packages/reporting/src/components/reports/user-login-report.tsx
  packages/reporting/src/components/reports/user-logout-report.tsx
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
Due: react-components, reporting

change button styling
  packages/dashboard/src/components/alert-snack-bar.tsx
Due: dashboard

fix empty values field in trajectory response
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

give a header name and update unit test
  packages/reporting/src/components/report-dashboard.tsx
  packages/reporting/src/tests/components/report-dashboard.test.tsx
Due: reporting

fix unit test
  packages/react-components/lib/reports/default-date-form.spec.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.spec.tsx
  packages/react-components/lib/reports/door-state/door-state-report.spec.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.spec.tsx
  packages/react-components/lib/reports/health/health-report.spec.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.spec.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.spec.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.spec.tsx
  packages/react-components/lib/reports/utils.spec.ts
Due: react-components

Feature/charger msgs (#450)
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/apis/chargers-api.ts
  packages/api-client/lib/openapi/models/charger-request.ts
  packages/api-client/lib/openapi/models/duration.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/chargers.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/charger_request.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/chargers.py
  packages/dashboard/src/components/__trash/alert-snack-bar.tsx
  packages/dashboard/src/components/alert-snack-bar.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/stories/alert-snack-bar.stories.tsx
  packages/dashboard/src/stories/baseComponents/alert-snack-bar-component.tsx
Due: dashboard, api-server

fix unit test
  packages/react-components/lib/reports/default-date-form.spec.tsx
Due: react-components

remove comments and add minor css changes
  packages/minimal/src/components/app.tsx
  packages/minimal/src/components/dashboard/dashboard.tsx
Due: none

working prototype with working last commit
  example-deployment/docker/builder.dockerfile
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/teleop/index.ts
  packages/dashboard/src/components/teleop/teleop-page.tsx
  packages/dashboard/src/util/url.ts
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/teleop-info.tsx
  packages/react-components/lib/robots/teleop-panel.tsx
  packages/react-components/lib/robots/teleop-table.tsx
Due: dashboard, react-components

modify nginx config file to pass client ip
  example-deployment/docker/reporting.dockerfile
  nginx.conf
Due: none

mock out ros in tests
  packages/api-server/api_server/__init__.py
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/base_app.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/authz.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/tasks/utils.py
  packages/api-server/api_server/routes/test_admin_route.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/test_main_route.py
  packages/api-server/api_server/services/tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

handle http exception on fast io
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

rework fastio
  packages/api-server/api_server/app.py
  packages/api-server/api_server/base_app.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/authz.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/utils.py
  packages/api-server/api_server/services/test_tasks.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_fast_io.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

reuse app in tests
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

update docs
  packages/api-server/README.md
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

update remove permissions endpoint to use post instead of delete
  packages/api-client/generate-openapi.py
  packages/api-client/lib/openapi/apis/admin-api.ts
  packages/api-client/lib/openapi/apis/building-api.ts
  packages/api-client/lib/openapi/apis/dispensers-api.ts
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/ingestors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/post-role-permissions.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/test_admin_route.py
Due: api-server

update api
  packages/dashboard/src/components/admin/role-list-page.tsx
Due: dashboard

improve typing on fastio
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

fix lint errors
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/test_tasks.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/test/fast_io_app.py
Due: api-server

fix tests
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
Due: api-server

rename to match their sources
  packages/api-server/api_server/routes/test_admin.py
  packages/api-server/api_server/routes/test_main.py
Due: api-server

exlcude some files from coverage
  packages/api-server/.coveragerc
  packages/api-server/api_server/gateway.py
Due: api-server

commit dockerfile and yaml for minimal package
  example-deployment/docker/minimal.dockerfile
  example-deployment/k8s/minimal.yaml
Due: none

make sure lmap gets set on re render
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

add config and update appbar
  example-deployment/deploy.sh
  example-deployment/keycloak-tools/bootstrap-keycloak.js
  example-deployment/rmf_server_config.py
  packages/minimal/src/components/app-base.tsx
  packages/minimal/src/components/app-contexts.tsx
  packages/minimal/src/components/app.tsx
  packages/minimal/src/components/appbar.tsx
  packages/minimal/src/components/rmf-app/rmf-ingress.ts
  packages/minimal/src/util/url.ts
Due: none

make sure lmap gets set on re render (#456)
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

remove coordinates and yaw from robot omnipanel
  packages/react-components/lib/robots/robot-accordion.spec.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
Due: react-components

uncheck way points by default
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

increase font size of tooltip
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/robots/robot-marker.tsx
Due: react-components

increase font size of robot names
  packages/react-components/lib/robots/robot-marker.tsx
Due: react-components

add rmf package with merged changes
  packages/rmf-auth/lib/authenticator.d.ts
  packages/rmf-auth/lib/authenticator.js
  packages/rmf-auth/lib/components/index.d.ts
  packages/rmf-auth/lib/components/index.js
  packages/rmf-auth/lib/components/login-base.d.ts
  packages/rmf-auth/lib/components/login-base.js
  packages/rmf-auth/lib/components/login-card.d.ts
  packages/rmf-auth/lib/components/login-card.js
  packages/rmf-auth/lib/components/login-hoc.d.ts
  packages/rmf-auth/lib/components/login-hoc.js
  packages/rmf-auth/lib/components/login-page.d.ts
  packages/rmf-auth/lib/components/login-page.js
  packages/rmf-auth/lib/components/private-route-base.d.ts
  packages/rmf-auth/lib/components/private-route-base.js
  packages/rmf-auth/lib/components/private-route-hoc.d.ts
  packages/rmf-auth/lib/components/private-route-hoc.js
  packages/rmf-auth/lib/index.d.ts
  packages/rmf-auth/lib/index.js
  packages/rmf-auth/lib/keycloak.d.ts
  packages/rmf-auth/lib/keycloak.js
  packages/rmf-auth/lib/stub.d.ts
  packages/rmf-auth/lib/stub.js
  packages/rmf-auth/lib/utils/index.d.ts
  packages/rmf-auth/lib/utils/index.js
  packages/rmf-auth/lib/utils/url.d.ts
  packages/rmf-auth/lib/utils/url.js
Due: rmf-auth

increase robot name font size and position
  packages/react-components/lib/robots/robot-marker.tsx
Due: react-components

commit updates with changes to rmf auth
  packages/minimal/src/app-config.ts
  packages/minimal/src/components/app-base.tsx
  packages/minimal/src/components/app.tsx
  packages/minimal/src/components/appbar.tsx
  packages/minimal/src/components/rmf-app/rmf-ingress.ts
  packages/minimal/src/components/theme.ts
  packages/minimal/src/util/url.ts
Due: none

update rmf context imports with context changes
  packages/minimal/src/components/dashboard/dashboard.tsx
  packages/minimal/src/components/rmf-app/contexts.ts
  packages/minimal/src/components/rmf-app/rmf-app.tsx
Due: none

increase door width
  packages/react-components/lib/doors/door-marker.tsx
Due: react-components
