Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

replace sticky feature with data store
  packages/api-server/api_server/fast_io.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test_fast_io.py
Due: api-server

sort only by start_time
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

add socket.io task summaries endpoint; allow docs to be passed to fastio generated get func
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

more rows and sort cancelled task
  packages/react-components/lib/tasks/task-panel.tsx
Due: react-components

add tests
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

fix places from other levels being rendered
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/place.ts
  packages/dashboard/src/components/rmf-app/utils.ts
  packages/dashboard/src/components/schedule-visualizer/waypoints-overlay.tsx
Due: dashboard

add start:clinic script
  packages/dashboard/package.json
  packages/dashboard/rmf-launcher.ts
Due: dashboard

change to state filter
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/tasks/task-panel.tsx
Due: dashboard, react-components

fix(dashboard): fix missing waypoints (#375)
  packages/dashboard/package.json
  packages/dashboard/rmf-launcher.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/place.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/utils.ts
  packages/dashboard/src/components/schedule-visualizer/tests/waypoints-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/waypoints-overlay.tsx
Due: dashboard

Fix/robot panel pagination (#371)
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/robots/robot-table.spec.tsx
Due: dashboard, react-components

more rows and sort cancelled task (#378)
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/tasks/task-panel.tsx
Due: dashboard, react-components

fix(dashboard): allow multiple places with same name
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/utils.ts
  packages/dashboard/src/components/schedule-visualizer/waypoints-overlay.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

fix extraneous rendering of door markers
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/doors-overlay.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/lifts/lift-marker.tsx
  packages/react-components/lib/stack-navigator.ts
  packages/react-components/stories/door-markers.stories.tsx
Due: dashboard, react-components

add box shadow and adjust padding for table components
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components

add hover effect on robot table
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

temporal removal of phase colors and update font sizes
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components

revert phase colors, keep success and failed colors
  packages/react-components/lib/tasks/task-phases.tsx
Due: react-components

Added prefix to resources
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Added a simple script to populate the icons on the ws
  example-deployment/get-icons.sh
Due: none

revert some of the changes
  packages/dashboard/src/components/schedule-visualizer/doors-overlay.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/lifts/lift-marker.tsx
  packages/react-components/stories/door-markers.stories.tsx
Due: dashboard, react-components

fix divide by 0 error
  packages/react-components/lib/robots/trajectory-paths.tsx
Due: react-components

fix extra rendering of dispensers
  packages/dashboard/src/components/schedule-visualizer/dispensers-overlay.tsx
Due: dashboard

fix extra robot markers rendering
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/react-components/lib/robots/base-marker.ts
  packages/react-components/lib/robots/robot-marker.tsx
  packages/react-components/stories/benchmarks/robots.stories.tsx
  packages/react-components/stories/robot-markers.stories.tsx
Due: dashboard, react-components

fix tests
  packages/react-components/tests/doors/door-marker.spec.tsx
  packages/react-components/tests/robots/default-marker.spec.tsx
  packages/react-components/tests/robots/robot-marker.spec.tsx
Due: react-components

Added HOME_RMF_WEB and ICONS_FOLDER as env vars
  example-deployment/get-icons-locally.sh
  example-deployment/get-icons.sh
Due: none

fix conflicts and reapply dropdown filter fix
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

add analyze script
  package-lock.json
  packages/dashboard/package.json
Due: dashboard

Update package.json
  packages/dashboard/package.json
Due: dashboard

refactor task panel to be "data-based", this is needed to support auto refresh
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
Due: dashboard, react-components

fix tests
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components

Update task-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

Change fleet/robots task summary to task progress
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

dashboard: custom dropdown for clean and delivery waypoints (#376)
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

refactor to reduce prop drilling
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
Due: react-components

fix queue size issue for task subscribers
  packages/api-server/api_server/gateway.py
Due: api-server

add autorefresh button
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
  packages/react-components/tests/tasks/task-table.spec.tsx
Due: react-components

fix state sorting
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

filtered task summaries
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

Fix/state sorting (#387)
  packages/api-server/api_server/routes/test_fleets.py
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard, api-server

Path conditions:
  dashboard: any of: packages/dashboard, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  react-components: any of: packages/react-components, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  api-server: any of: packages/api-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting: any of: packages/reporting, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting-server: any of: packages/reporting-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  rmf-auth: any of: packages/rmf-auth, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
