Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

Add monthly sum days
  packages/task-scheduler/task_scheduler/models/tortoise_models/days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

Working to create schedule for multiple days
  packages/task-scheduler/task_scheduler/models/tortoise_models/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
Due: none

Monthly weekday frecuency
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

several days a week woking correctly
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

added a new class to manage multiple scheduled days
  packages/task-scheduler/task_scheduler/models/tortoise_models/days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

Refactor task creation
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/datetime_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule_definition.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/test_datetime_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/test_task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

Monthly schedule working correctly
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

Added endpoints and added tests to their repositories. Added BL to the TaskRule manager
  packages/task-scheduler/task_scheduler/models/tortoise_models/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_task_rule_handler.py
Due: none

Fixed tests and imports
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/datetime_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/test_datetime_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
  packages/task-scheduler/task_scheduler/repositories/__init__.py
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
  packages/task-scheduler/task_scheduler/routes/scheduled_task_router.py
  packages/task-scheduler/task_scheduler/routes/task_rule_router.py
Due: none

Added test for the get method of the task rule
  packages/task-scheduler/task_scheduler/repositories/test_task_rule_handler.py
Due: none

Add readme information
  packages/task-scheduler/README.md
Due: none

Added task-scheduler to the pipeline. I modified the code to suit the linter
  .github/workflows/task-scheduler.yml
  Pipfile
  codecov.yml
  packages/task-scheduler/.coveragerc
  packages/task-scheduler/package.json
  packages/task-scheduler/task_scheduler/__main__.py
  packages/task-scheduler/task_scheduler/app.py
  packages/task-scheduler/task_scheduler/gateway.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/datetime_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule_manager.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_task_rule_handler.py
  packages/task-scheduler/task_scheduler/ros_time.py
  packages/task-scheduler/task_scheduler/routes/task_rule_router.py
  packages/task-scheduler/task_scheduler/routes/tasks/dispatcher.py
  packages/task-scheduler/task_scheduler/routes/tasks/utils.py
  packages/task-scheduler/task_scheduler/routes/test_scheduled_task_router.py
  packages/task-scheduler/task_scheduler/services/tasks.py
  packages/task-scheduler/task_scheduler/services/test_tasks.py
Due: none

Added router tests. Added restrinctions on delete and create rules and scheduled tasks
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_task_rule_handler.py
  packages/task-scheduler/task_scheduler/routes/scheduled_task_router.py
  packages/task-scheduler/task_scheduler/routes/task_rule_router.py
  packages/task-scheduler/task_scheduler/routes/test_scheduled_task_router.py
  packages/task-scheduler/task_scheduler/routes/test_task_rule_router.py
Due: none

test if this fixes the pipeline
  .github/workflows/task-scheduler.yml
Due: none

. /opt/rmf not working on pipeline
  .github/workflows/task-scheduler.yml
Due: none

Fixed readme, added enabled field to scheduled_task and removed leftovers
  packages/task-scheduler/README.md
  packages/task-scheduler/task_scheduler/models/tortoise_models/days_of_week.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/scheduled_task.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
Due: none

move cublic-spline functions to react-components
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/dashboard/src/util/cublic-spline.ts
  packages/react-components/lib/util/geometry.ts
Due: dashboard, react-components

remove unused code
  packages/dashboard/src/util/react-helpers.ts
Due: dashboard

rename User to UserProfile
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/auth/contexts.ts
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
Due: dashboard

move place to react-components
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/place.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/waypoints-overlay.test.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/place.ts
Due: dashboard, react-components

move page not found component to report as it is the only place using it and the components dont actually work without predefined asset (its not reusable so not suitable for react-components)
  packages/react-components/lib/error-pages/index.ts
  packages/react-components/lib/index.ts
  packages/reporting/src/components/app.tsx
  packages/reporting/src/components/page-not-found.tsx
  packages/reporting/src/components/tests/page-not-found.test.tsx
Due: react-components, reporting

remove unused components
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/error-pages/unauthorized.spec.tsx
  packages/react-components/lib/error-pages/unauthorized.tsx
Due: react-components

move user profile provier to rmf-auth
  packages/dashboard/src/components/admin/tests/user-profile.test.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/admin/user-profile.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/auth/__mocks__/fake-authenticator.ts
  packages/dashboard/src/components/auth/contexts.ts
  packages/dashboard/src/components/auth/index.ts
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/stories/admin/user-profile.stories.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
  packages/rmf-auth/lib/components/context.tsx
  packages/rmf-auth/lib/components/index.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/package.json
Due: dashboard, rmf-auth

move calculation-helpsers to react-components
  packages/dashboard/src/util/tests/angle-calculation.test.ts
  packages/dashboard/src/util/tests/calculation-helpers.test.ts
  packages/react-components/lib/util/geometry.spec.ts
  packages/react-components/lib/util/geometry.ts
  packages/react-components/lib/util/index.ts
Due: dashboard, react-components

remove auto-refresh helper, use a simpler method
  packages/dashboard/src/components/tasks/auto-refresh.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/auto-refresh.test.tsx
Due: dashboard

add scripts and helpers to library
  packages/minimal/src/components/app.test.tsx
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/lib/rmf-launcher.ts
  packages/rmf-tools/lib/scripts/get-icons.js
  packages/rmf-tools/lib/scripts/setup.js
  packages/rmf-tools/lib/utils/calculation-helpers.ts
  packages/rmf-tools/lib/utils/css-utils.ts
  packages/rmf-tools/lib/utils/cublic-spline.ts
  packages/rmf-tools/lib/utils/index.ts
  packages/rmf-tools/lib/utils/react-helpers.ts
  packages/rmf-tools/lib/utils/tests/calculation-helpers.test.ts
  packages/rmf-tools/lib/utils/tests/css-utils.test.ts
  packages/rmf-tools/lib/utils/url-helpers.ts
Due: none

add eslint and gitignore with jest config
  packages/rmf-tools/.eslintignore
  packages/rmf-tools/.eslintrc.js
  packages/rmf-tools/.gitignore
  packages/rmf-tools/jest.config.js
Due: none

extend robot pagination
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

checks on the backend
  packages/api-server/api_server/routes/fleets.py
Due: api-server

remove rmf launcher from minimal app
  packages/minimal/package.json
  packages/minimal/rmf-launcher.ts
  packages/minimal/src/util/index.ts
Due: none

update index and config files
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/package.json
  packages/rmf-tools/tsconfig.json
Due: none

update readme
  packages/rmf-tools/README.md
Due: none

remove unused unit test
  packages/dashboard/src/tests/hotkeys.test.ts
Due: dashboard

cherry pick
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Fix/robot pagination (#476)
  packages/api-server/api_server/routes/fleets.py
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard, api-server

remove utils helpers
  packages/rmf-tools/lib/utils/calculation-helpers.ts
  packages/rmf-tools/lib/utils/css-utils.ts
  packages/rmf-tools/lib/utils/cublic-spline.ts
  packages/rmf-tools/lib/utils/index.ts
  packages/rmf-tools/lib/utils/react-helpers.ts
  packages/rmf-tools/lib/utils/tests/calculation-helpers.test.ts
  packages/rmf-tools/lib/utils/tests/css-utils.test.ts
  packages/rmf-tools/lib/utils/url-helpers.ts
Due: none

update user env
  packages/minimal/.env
Due: none

Implemented a scheduler on the project
  packages/task-scheduler/setup.py
  packages/task-scheduler/task_scheduler/app.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/scheduled_task.py
  packages/task-scheduler/task_scheduler/scheduler/__init__.py
  packages/task-scheduler/task_scheduler/scheduler/scheduler.py
  packages/task-scheduler/task_scheduler/scheduler/timer_job.py
Due: none

upgrade external dependencies before migrating material ui
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/admin/tests/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-user-dialog.test.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/components/theme.ts
  packages/dashboard/src/stories/task-panel.stories.tsx
  packages/react-components/lib/tasks/task-summary-accordion.tsx
  packages/react-components/package.json
  packages/reporting/package.json
  packages/reporting/src/components/app.tsx
  packages/rmf-auth/package.json
Due: dashboard, react-components, reporting, rmf-auth
