Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

modify secondary color and make purple info color brighter
  packages/react-components/lib/themes/common-theme.tsx
Due: react-components

remove spotlight accordiant
  packages/react-components/lib/spotlight-accordion.spec.tsx
Due: react-components

fix default logo not used when headerLogo is not provided
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager.test.tsx
Due: dashboard

remove scripts and unused code
  lerna.json
  packages/minimal/.env
  packages/minimal/package.json
  packages/minimal/scripts/setup/get-icons.js
  packages/minimal/scripts/setup/setup.js
  packages/minimal/scripts/start-rmf.ts
  packages/minimal/src/components/rmf-app/contexts.ts
  packages/minimal/src/components/rmf-app/rmf-app.tsx
  packages/minimal/src/managers/rmf-health-state-manager.ts
Due: none

add rmf-tools package
  packages/rmf-tools/README.md
  packages/rmf-tools/lib/.rmf/.rmf_schedule_node.yaml
  packages/rmf-tools/lib/.rmf/web_server.log
  packages/rmf-tools/lib/get-icons.js
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/lib/rmf-launcher.ts
  packages/rmf-tools/lib/setup.js
  packages/rmf-tools/package.json
  packages/rmf-tools/tsconfig.json
Due: none

fix(dashboard): default logo not used when headerLogo is not provided (#470)
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager.test.tsx
Due: dashboard

changes to dispenser table
  packages/react-components/lib/dispensers/dispenser-panel.spec.tsx
  packages/react-components/lib/dispensers/dispenser-panel.tsx
  packages/react-components/lib/dispensers/dispenser-table.spec.tsx
  packages/react-components/lib/dispensers/dispenser-table.tsx
  packages/react-components/lib/dispensers/utils.ts
Due: react-components

door panel changes
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.spec.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/doors/utils.ts
Due: dashboard, react-components

remove unused contexts and config
  packages/minimal/src/components/app-contexts.tsx
  packages/minimal/src/components/dashboard/dashboard.tsx
  packages/minimal/src/components/single-responsibility/send-loop-task.tsx
  packages/minimal/src/config/data-config.ts
  packages/minimal/src/config/layout-config.ts
Due: none

lift panel changes
  packages/react-components/lib/lifts/index.ts
  packages/react-components/lib/lifts/lift-panel.spec.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-request-form-dialog.tsx
  packages/react-components/lib/lifts/lift-request-form.spec.tsx
  packages/react-components/lib/lifts/lift-table.spec.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: react-components

add lift/door controls to tables and other miscellanous change
  packages/react-components/lib/dispensers/dispenser-table.tsx
  packages/react-components/lib/doors/door-panel.stories.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.spec.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.spec.tsx
Due: react-components

use cards to display panel and give it a header
  packages/react-components/lib/dispensers/dispenser-panel.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
Due: react-components

dispenser to workcell changes
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/workcell-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/workcell-overlay.tsx
  packages/react-components/lib/dispensers/dispenser-panel.spec.tsx
  packages/react-components/lib/dispensers/dispenser-panel.stories.tsx
  packages/react-components/lib/dispensers/dispenser-panel.tsx
  packages/react-components/lib/dispensers/dispenser-table.tsx
  packages/react-components/lib/dispensers/index.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/workcells/default-marker-icon.tsx
  packages/react-components/lib/workcells/index.ts
  packages/react-components/lib/workcells/test-utils.spec.ts
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-marker.spec.tsx
  packages/react-components/lib/workcells/workcell-marker.stories.tsx
  packages/react-components/lib/workcells/workcell-marker.tsx
  packages/react-components/lib/workcells/workcell-panel.spec.tsx
  packages/react-components/lib/workcells/workcell-panel.stories.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.spec.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components

remove unused contexts
  packages/minimal/src/components/app-contexts.tsx
  packages/minimal/src/components/app.tsx
  packages/minimal/src/components/dashboard/dashboard.tsx
  packages/minimal/src/components/rmf-app/contexts.ts
  packages/minimal/src/components/rmf-app/index.tsx
  packages/minimal/src/components/rmf-app/rmf-app.tsx
  packages/minimal/src/components/rmf-app/rmf-ingress.ts
  packages/minimal/src/components/single-responsibility/send-loop-task.tsx
  packages/minimal/src/managers/__mocks__/resources.ts
  packages/minimal/src/managers/__mocks__/robot-trajectory-manager.ts
  packages/minimal/src/managers/__mocks__/trajectories.json
  packages/minimal/src/managers/negotiation-status-manager.ts
  packages/minimal/src/managers/resource-manager-dispensers.ts
  packages/minimal/src/managers/resource-manager-robots.ts
  packages/minimal/src/managers/resource-manager.ts
  packages/minimal/src/managers/robot-trajectory-manager.ts
  packages/minimal/src/managers/tests/resource-manager-dispensers.test.ts
  packages/minimal/src/managers/tests/resource-manager-logos.test.ts
  packages/minimal/src/managers/tests/resource-manager-robots.test.ts
  packages/minimal/src/managers/tests/resource-manager.test.tsx
  packages/minimal/src/managers/trajectory-socket-manager.ts
  packages/minimal/src/util/calculation-helpers.ts
  packages/minimal/src/util/cublic-spline.ts
  packages/minimal/src/util/react-helpers.ts
  packages/minimal/src/util/tests/angle-calculation.test.ts
  packages/minimal/src/util/tests/calculation-helpers.test.ts
  packages/minimal/src/util/tests/css-utils.test.ts
Due: none

change interface name and shift token to manager
  package-lock.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/react-components/lib/simple-filter.stories.tsx
  packages/react-components/lib/simple-filter.tsx
Due: dashboard, react-components

upgrade material ui date picker
  package-lock.json
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/reports/utils.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/package.json
Due: react-components

use official rmf image
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  packages/dashboard-e2e/docker/e2e/Dockerfile
Due: dashboard

temp fix for date picker inside modal
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/package.json
  packages/reporting/src/components/report-dashboard.tsx
Due: react-components, reporting

spam gh
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-e2e.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  README.md
Due: none

fix react-component unit test
  packages/react-components/lib/date-time-picker.spec.tsx
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/reports/default-date-form.spec.tsx
  packages/react-components/lib/reports/log-management/search-log-form.spec.tsx
Due: react-components

create task format and update dependencies
  package-lock.json
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/package.json
Due: react-components

e2e: use official rmf image; fix tests (#475)
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  README.md
  packages/dashboard-e2e/docker/e2e/Dockerfile
Due: dashboard

fix NaN slider value
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

ci: update path of new setup.bash
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
Due: none

ci: typo on setup.bash path
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
Due: none

ci: remove unused dockerfile
  packages/dashboard-e2e/docker/rmf/Dockerfile
  packages/dashboard-e2e/docker/rmf/rmf_entrypoint.bash
Due: dashboard

feat: trajectory time control (#469)
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app-drawers.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
  packages/dashboard/src/components/dashboard/tour/tests/tour.test.tsx
  packages/dashboard/src/components/dashboard/tour/tour-data.tsx
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/dashboard/tour/tour-navigation-control.tsx
  packages/dashboard/src/components/dashboard/tour/tour.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/components/drawers/tests/settings-drawer.test.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/trajectory-time-control.test.tsx
  packages/dashboard/src/components/schedule-visualizer/trajectory-time-control.tsx
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/app-drawers.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/hotkeys.ts
  packages/dashboard/src/settings.ts
  packages/dashboard/src/stories/scheduler-visualizer/trajectory-time-control.stories.tsx
  packages/dashboard/src/tests/hotkeys.test.ts
  packages/react-components/lib/robots/trajectory-marker.spec.tsx
  packages/react-components/lib/robots/trajectory-marker.tsx
  packages/react-components/lib/robots/trajectory-paths.tsx
Due: dashboard, react-components

first nonworking version of backend
  packages/task-scheduler/.coveragerc
  packages/task-scheduler/.gitignore
  packages/task-scheduler/.isort.cfg
  packages/task-scheduler/.pylintrc
  packages/task-scheduler/LICENSE
  packages/task-scheduler/README.md
  packages/task-scheduler/generate-models.sh
  packages/task-scheduler/package.json
  packages/task-scheduler/pyproject.toml
  packages/task-scheduler/setup.py
  packages/task-scheduler/task_scheduler/__init__.py
  packages/task-scheduler/task_scheduler/__main__.py
  packages/task-scheduler/task_scheduler/app.py
  packages/task-scheduler/task_scheduler/app_config.py
  packages/task-scheduler/task_scheduler/default_config.py
  packages/task-scheduler/task_scheduler/gateway.py
  packages/task-scheduler/task_scheduler/models/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise/task.py
  packages/task-scheduler/task_scheduler/repositories/__init__.py
  packages/task-scheduler/task_scheduler/ros_time.py
  packages/task-scheduler/task_scheduler/routes/__init__.py
  packages/task-scheduler/task_scheduler/routes/tasks/__init__.py
  packages/task-scheduler/task_scheduler/routes/tasks/dispatcher.py
  packages/task-scheduler/task_scheduler/routes/tasks/tasks.py
  packages/task-scheduler/task_scheduler/routes/tasks/test_tasks.py
  packages/task-scheduler/task_scheduler/routes/tasks/utils.py
  packages/task-scheduler/task_scheduler/services/__init__.py
  packages/task-scheduler/task_scheduler/services/tasks.py
  packages/task-scheduler/task_scheduler/services/test_tasks.py
  packages/task-scheduler/task_scheduler/test_ros_time.py
Due: none

Scheduler component added
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/scheduler/index.ts
  packages/react-components/lib/tasks/scheduler/rules.ts
  packages/react-components/lib/tasks/scheduler/scheduler.tsx
Due: react-components

Fixed react-component problem
  packages/react-components/lib/tasks/scheduler/scheduler.tsx
Due: react-components

Fix after rebase
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Added models and controllers
  packages/task-scheduler/setup.py
  packages/task-scheduler/task_scheduler/app.py
  packages/task-scheduler/task_scheduler/database.py
  packages/task-scheduler/task_scheduler/models/tortoise/scheduled_task.py
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/routes/scheduled_task_router.py
Due: none

Created a new generate-model script and rmf-task-helper. Removed unused messages
  packages/task-scheduler/generate-models.sh
  packages/task-scheduler/task_scheduler/models/ros_pydantic/__init__.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/builtin_interfaces/Duration.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/builtin_interfaces/Time.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/builtin_interfaces/__init__.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_dispenser_msgs/DispenserRequest.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_dispenser_msgs/DispenserRequestItem.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_dispenser_msgs/DispenserResult.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_dispenser_msgs/DispenserState.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_dispenser_msgs/__init__.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Behavior.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/BehaviorParameter.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/BidNotice.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/BidProposal.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/CancelTask_Request.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/CancelTask_Response.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Clean.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Delivery.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/DispatchAck.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/DispatchRequest.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/GetTaskList_Request.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/GetTaskList_Response.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Loop.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Priority.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/ReviveTask_Request.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/ReviveTask_Response.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Station.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/SubmitTask_Request.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/SubmitTask_Response.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/TaskDescription.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/TaskProfile.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/TaskSummary.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/TaskType.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Tasks.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/Tow.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/rmf_task_msgs/__init__.py
  packages/task-scheduler/task_scheduler/models/ros_pydantic/version.py
  scripts/rmf-task-helper.sh
Due: none

Added rule model and task scheduled models
  packages/task-scheduler/task_scheduler/models/pydantic_models.py
  packages/task-scheduler/task_scheduler/models/tortoise/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise/scheduled_task.py
  packages/task-scheduler/task_scheduler/models/tortoise/task_rule.py
Due: none

Added new props to scheduled task models
  packages/task-scheduler/task_scheduler/models/tortoise/scheduled_task.py
Due: none

Modified task scheduler
  packages/task-scheduler/task_scheduler/models/tortoise/scheduled_task.py
  packages/task-scheduler/task_scheduler/models/tortoise/task_rule.py
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
Due: none

can create task rule
  lerna.json
  packages/task-scheduler/task_scheduler/app.py
  packages/task-scheduler/task_scheduler/database.py
  packages/task-scheduler/task_scheduler/models/pydantic_models.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/__init__.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/scheduled_task.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
  packages/task-scheduler/task_scheduler/repositories/scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
  packages/task-scheduler/task_scheduler/routes/__init__.py
  packages/task-scheduler/task_scheduler/routes/task_rule_router.py
  packages/task-scheduler/task_scheduler/routes/tasks/__init__.py
  packages/task-scheduler/task_scheduler/routes/tasks/tasks.py
  packages/task-scheduler/task_scheduler/routes/tasks/test_tasks.py
  packages/task-scheduler/task_scheduler/services/test_tasks.py
  packages/task-scheduler/task_scheduler/test_ros_time.py
  packages/task-scheduler/task_scheduler/test_utils.py
Due: none

Added tests to try the scheduler strcuture
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/test_task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/scheduled_task.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
Due: none

Added test for is_time_between and next_date
  packages/task-scheduler/task_scheduler/models/tortoise_models/helpers/test_task_rule.py
Due: none

Path conditions:
  dashboard: any of: packages/dashboard, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  react-components: any of: packages/react-components, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  api-server: any of: packages/api-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting: any of: packages/reporting, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting-server: any of: packages/reporting-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  rmf-auth: any of: packages/rmf-auth, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
