Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

Refactor - set RMF_SERVER_USE_SIM_TIME env variable concretely (#409)
  example-deployment/docker/builder.dockerfile
Due: none

refresh token before each rest request
  example-deployment/deploy.sh
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

Update README.md
  packages/reporting-server/README.md
Due: reporting, reporting-server

Apply suggestions from code review
  packages/reporting-server/README.md
Due: reporting, reporting-server

Added QA to readme
  packages/reporting-server/README.md
Due: reporting, reporting-server

Moved comment
  example-deployment/docker/builder.dockerfile
Due: none

Moved comment (#413)
  example-deployment/docker/builder.dockerfile
Due: none

make update trajectory interval cancellable
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

docs:reporting-server: Update reporting-server documentation (#408)
  packages/reporting-server/README.md
Due: reporting, reporting-server

more changes and add toggle useTheme
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/settings.ts
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/themes/default-theme.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/index.ts
Due: dashboard, react-components

update storybook
  packages/dashboard/public/roshealth-logo-blue.png
  packages/react-components/stories/omni-panel.stories.tsx
  packages/react-components/stories/theme.stories.tsx
  packages/react-components/stories/trashbin-control-button-group.stories.tsx
Due: dashboard, react-components

change icon logic
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

remove rmf dockerfiles, modify test to retrieve reports
  packages/reporting-e2e/docker/e2e/Dockerfile
  packages/reporting-e2e/docker/rmf/Dockerfile
  packages/reporting-e2e/docker/rmf/rmf_entrypoint.bash
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/tests/2-reporting.test.ts
  packages/reporting-e2e/wdio.conf.js
Due: reporting

changes on logo path
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

more changes to logo path
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

correct storybook theme
  packages/react-components/stories/theme.stories.tsx
Due: react-components

cleanup
  packages/react-components/lib/navigation-bar.tsx
Due: react-components

add reporting tests
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/tests/2-reporting.test.ts
  packages/reporting-e2e/tests/utils.ts
  packages/reporting-e2e/wdio.conf.js
Due: reporting

update the url endpoint
  packages/reporting/src/components/reports/ingestor-state-report.tsx
Due: reporting

add mock data
  packages/reporting-e2e/tests/mock-data.ts
Due: reporting

abstract repeating code into a util function
  packages/reporting-e2e/tests/2-reporting.test.ts
  packages/reporting-e2e/tests/utils.ts
Due: reporting

theming chagnes
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/themes/default-theme.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/index.ts
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/stories/omni-panel.stories.tsx
  packages/react-components/stories/trashbin-control-button-group.stories.tsx
Due: dashboard, react-components

rename fields to follow casbin convention
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/resource.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

update README, update keycloak config
  packages/reporting-e2e/README.md
  packages/reporting-e2e/package.json
  packages/reporting-e2e/reporting_server_config.py
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/tests/2-reporting.test.ts
Due: reporting

modify readme with process flow image
  packages/reporting-e2e/README.md
  packages/reporting-e2e/docs/resources/reporting-e2e-process.png
Due: reporting

remove expect line
  packages/reporting-e2e/tests/0-smoke.test.ts
Due: reporting

updating the db schema for v2
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/authorization.py
  packages/api-server/api_server/models/tortoise_models/resource.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/models/tortoise_models/user.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_permissions.py
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components, api-server

fix(dashboard): Robot trajectories continue to be polled even when map is unmounted #411 #414
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

fix(dashboard): 401 Errors on prolonged rmf-web dashboard usage #398 (#410)
  example-deployment/deploy.sh
  packages/api-client/package.json
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

add admin routes for user and roles management
  packages/api-server/README.md
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_admin_route.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

update other routes to work with new db schemas
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/models/tortoise_models/authorization.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_admin_route.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

add users querying endpoint
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/test_admin_route.py
Due: api-server

update moar routes to work with new schemas
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

test(api-client): add axios to devdep, fix react-component tests
  packages/api-client/package.json
Due: none

PositiveIntField overrides values and onchange to filter change events that does not led to new values
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

make value optional, fix tests
  packages/react-components/lib/form-inputs.tsx
Due: react-components

remove pagination model, paginations just return an array now
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_admin_route.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

add README explaining how v2 works
  packages/api-server/README.md
Due: api-server

fix: Incorrect preview of batch tasks #421 (#424)
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

updating frontend with new pagination schema
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  react-components: any of: packages/react-components, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  api-server: any of: packages/api-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting: any of: packages/reporting, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting-server: any of: packages/reporting-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  rmf-auth: any of: packages/rmf-auth, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
