Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

swap default and paper
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/status-label.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: dashboard, react-components

add primary and divider theme
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/status-label.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: dashboard, react-components

some more cleanup
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/react-components/lib/robots/linear-progress-bar.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/themes/global-theme.tsx
Due: dashboard, react-components

fix storybook and other theming and aesthetic changes
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/react-components/lib/systems-summary/systems-summary-banner.tsx
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/stories/command-forms.stories.tsx
  packages/react-components/stories/error-overlay.stories.tsx
  packages/react-components/stories/info-card.stories.tsx
  packages/react-components/stories/logging.stories.tsx
  packages/react-components/stories/reports/multi-level-menu.stories.tsx
  packages/react-components/stories/theme.stories.tsx
Due: dashboard, react-components

initial commit for reporting e2e
  packages/reporting-e2e/.gitignore
  packages/reporting-e2e/README.md
  packages/reporting-e2e/certs/ca.crt
  packages/reporting-e2e/certs/ca.key
  packages/reporting-e2e/certs/keycloak.crt
  packages/reporting-e2e/certs/keycloak.key
  packages/reporting-e2e/certs/keycloak.pub
  packages/reporting-e2e/certs/openssl.cnf
  packages/reporting-e2e/docker/docker-compose.yml
  packages/reporting-e2e/docker/e2e/Dockerfile
  packages/reporting-e2e/docker/keycloak/Dockerfile
  packages/reporting-e2e/docker/keycloak/dockert
  packages/reporting-e2e/docker/keycloak/keycloak.mv.db
  packages/reporting-e2e/docker/rmf/Dockerfile
  packages/reporting-e2e/docker/rmf/rmf_entrypoint.bash
  packages/reporting-e2e/docs/resources/e2e-E2e-start-process.png
  packages/reporting-e2e/env.d.ts
  packages/reporting-e2e/generate-certs.sh
  packages/reporting-e2e/package.json
  packages/reporting-e2e/reporting_server_config.py
  packages/reporting-e2e/scripts/auth-ready.js
  packages/reporting-e2e/scripts/get-resources-location.js
  packages/reporting-e2e/scripts/start-reporting-server.sh
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/serve.json
  packages/reporting-e2e/tests/0-smoke.test.ts
  packages/reporting-e2e/tests/1-login.test.ts
  packages/reporting-e2e/tests/ui-interactions.test.ts
  packages/reporting-e2e/tests/utils.ts
  packages/reporting-e2e/tsconfig.json
  packages/reporting-e2e/wdio.conf.js
Due: reporting

Created script to delete logs from database > 7 days
  packages/reporting-server/rest_server/clean_logs.py
  packages/reporting-server/setup.py
Due: reporting, reporting-server

cherry pick custom logo commit from throwaway
  packages/dashboard/public/defaultLogo.png
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/__mocks__/resources.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
Due: dashboard

add box shadow and adjust padding for table components
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components

cherry pick add hover effect on robot table
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

cherry pick, exclude remove phase colors, include change font size
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components

Change dynamically the days to delete
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/clean_logs.py
  packages/reporting-server/rest_server/default_config.py
Due: reporting, reporting-server

Added cronjob. Updated deploy script, readme
  example-deployment/README.md
  example-deployment/deploy.sh
  example-deployment/k8s/cronjobs.yaml
Due: none

Fixed lint erros
  packages/reporting-server/rest_server/clean_logs.py
Due: reporting, reporting-server

feature:dashboard:cherry-pick place custom logo commit from throwaway (#405)
  packages/dashboard/public/defaultLogo.png
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/__mocks__/resources.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
Due: dashboard

remove useCallback
  packages/react-components/lib/robots/robot-panel.tsx
Due: react-components

refactor pagination to be handled by api
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

Placed mocks in one file and created derivated mocks automatically
  packages/reporting-server/rest_server/__mocks__/__init__.py
  packages/reporting-server/rest_server/__mocks__/parsed_data.py
  packages/reporting-server/rest_server/__mocks__/raw_data.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting, reporting-server

Removed comments and replace text with mocks
  packages/reporting-server/parsers/test_auth_event_parser.py
  packages/reporting-server/parsers/test_dispenser_state_parser.py
  packages/reporting-server/parsers/test_doors_state_parser.py
  packages/reporting-server/parsers/test_fleet_state_parser.py
  packages/reporting-server/parsers/test_health_parser.py
  packages/reporting-server/parsers/test_ingestor_parser.py
  packages/reporting-server/parsers/test_lift_state_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/__mocks__/raw_data.py
Due: reporting, reporting-server

Removed leftover
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting, reporting-server

Fixed lint error
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting, reporting-server

dashboard:react-components: Refactor/robot page refactor (#402)
  packages/api-server/api_server/routes/fleets.py
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/stories/robots/robot-info.stories.tsx
  packages/react-components/stories/robots/robot-panel.stories.tsx
  packages/react-components/stories/robots/robot-table.stories.tsx
  packages/react-components/tests/robots/robot-info.spec.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/robots/robot-table.spec.tsx
  packages/react-components/tests/robots/test-utils.ts
Due: dashboard, react-components, api-server

add state sorting
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

maybe fix e2e tests
  packages/api-server/api_server/default_config.py
  packages/dashboard-e2e/rmf_server_config.py
Due: dashboard, api-server

Updated cronjob description
  example-deployment/README.md
Due: none

renamd clean logs to reporting_server_clean_logs
  example-deployment/k8s/cronjobs.yaml
  packages/reporting-server/setup.py
Due: reporting, reporting-server

Changed metadata job name
  example-deployment/k8s/cronjobs.yaml
Due: none

reporting-server: refactor reporting-server with mocks (#406)
  packages/reporting-server/parsers/test_auth_event_parser.py
  packages/reporting-server/parsers/test_dispenser_state_parser.py
  packages/reporting-server/parsers/test_doors_state_parser.py
  packages/reporting-server/parsers/test_fleet_state_parser.py
  packages/reporting-server/parsers/test_health_parser.py
  packages/reporting-server/parsers/test_ingestor_parser.py
  packages/reporting-server/parsers/test_lift_state_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/__mocks__/__init__.py
  packages/reporting-server/rest_server/__mocks__/parsed_data.py
  packages/reporting-server/rest_server/__mocks__/raw_data.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting, reporting-server

robot auto refresh
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

fix unit test
  packages/react-components/tests/robots/robot-panel.spec.tsx
Due: react-components

added keycloak auth stuff and updated tests
  packages/reporting-e2e/scripts/get-resources-location.js
  packages/reporting-e2e/scripts/start-reporting-server.sh
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/serve.json
  packages/reporting-e2e/tests/0-smoke.test.ts
  packages/reporting-e2e/tests/1-login.test.ts
  packages/reporting-e2e/tests/2-reporting.test.ts
  packages/reporting-e2e/tests/ui-interactions.test.ts
  packages/reporting-e2e/wdio.conf.js
Due: reporting

correct server url
  packages/reporting-e2e/scripts/test-e2e.js
Due: reporting

Update rmf-server.yaml
  example-deployment/k8s/rmf-server.yaml
Due: none

remove debug line and unused lines
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/tests/2-reporting.test.ts
Due: reporting

feat:reporting-server:Created script and cronjob to delete logs from database > 7 days (#404)
  example-deployment/README.md
  example-deployment/deploy.sh
  example-deployment/k8s/cronjobs.yaml
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/clean_logs.py
  packages/reporting-server/rest_server/default_config.py
  packages/reporting-server/setup.py
Due: reporting, reporting-server

Created a description on the reporting-server readme
  packages/reporting-server/README.md
Due: reporting, reporting-server

remove comment and remove negotiationpanel border
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/stories/theme.stories.tsx
Due: dashboard, react-components

set variable concretely
  example-deployment/docker/builder.dockerfile
Due: none

move axios to peer dep
  packages/api-client/package.json
Due: none
