Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

add debug when subscribing/unsubscribing
  packages/api-client/lib/index.ts
  packages/api-client/package.json
Due: none

working copy of robot info and utils clean up
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
Due: dashboard, react-components

fix subscriptions
  packages/api-client/lib/index.ts
Due: none

first working auto refresh
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/auto-refresh.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

wait for new task to be written to db before returning
  packages/api-server/api_server/app.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

batch submit tasks in parallel
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

working refresh
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

change duration header to active task duration
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

enable autorefresh by default
  packages/dashboard/src/components/tasks/auto-refresh.tsx
  packages/dashboard/src/components/tasks/tests/auto-refresh.test.tsx
  packages/react-components/lib/tasks/task-panel.tsx
Due: dashboard, react-components

fix tests
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components

stable robot info refresh
  packages/react-components/lib/robots/robot-panel.tsx
Due: react-components

(fix) - change end time to duration (#394)
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

increase test timeout
  packages/dashboard-e2e/tests/ui-interactions.test.ts
Due: dashboard

click before waiting
  packages/dashboard-e2e/tests/ui-interactions.test.ts
Due: dashboard

solve double refresh issue
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

proposal
  packages/api-server/README.md
Due: api-server

test case for protecting submit task behind roles
  packages/api-server/README.md
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/test_tasks.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_config.py
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

update tortoise orm
  Pipfile.lock
  packages/api-server/setup.py
  packages/reporting-server/setup.py
Due: api-server, reporting, reporting-server

initial impl of enforcer class
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/resource.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

separate roles and groups to make the system more intuitive
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/resource.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

update tests
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

check roles for cancel task
  packages/api-server/api_server/app.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

users outside group cannot see tasks
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

fix tests
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_base_route.py
Due: api-server

feat(dashboard): auto refresh tasks in task page (#396)
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/version.ts
  packages/api-client/package.json
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/fast_io/errors.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test_fast_io.py
  packages/dashboard-e2e/tests/ui-interactions.test.ts
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/auto-refresh.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/auto-refresh.test.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
  packages/react-components/tests/tasks/task-table.spec.tsx
Due: dashboard, react-components, api-server

use same task_id as other tests
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

combine several tests into one test case to improve testing performance; add authorization to socketio routes
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

add task state model, parser and test
  packages/reporting-server/models/task_state.py
  packages/reporting-server/parsers/task_state_parser.py
  packages/reporting-server/parsers/test_task_state_parser.py
  packages/reporting-server/rest_server/repositories/report/task_state.py
Due: reporting, reporting-server

export task report and add to menu
  packages/react-components/lib/reports/index.ts
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reporter-side-bar-structure.tsx
Due: react-components, reporting

add task state component in react-components and reporting ui
  packages/react-components/lib/reports/task-state/index.ts
  packages/react-components/lib/reports/task-state/task-state-report-table.tsx
  packages/react-components/lib/reports/task-state/task-state-report.tsx
  packages/reporting/src/components/reports/task-state-report.tsx
Due: react-components, reporting

add route to reporting server
  packages/reporting-server/rest_server/routers/report.py
Due: reporting, reporting-server

add taskState to init
  packages/reporting-server/models/__init__.py
Due: reporting, reporting-server

fix parser and test case
  packages/reporting-server/models/task_state.py
  packages/reporting-server/parsers/task_state_parser.py
  packages/reporting-server/parsers/test_task_state_parser.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
Due: reporting, reporting-server

update model fields and correct function name
  packages/reporting-server/models/task_state.py
  packages/reporting-server/rest_server/routers/report.py
Due: reporting, reporting-server

update model info, parser implementation and rename to task summary
  packages/reporting-server/models/__init__.py
  packages/reporting-server/models/task_state.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
  packages/reporting-server/rest_server/repositories/report/task_state.py
  packages/reporting-server/rest_server/routers/report.py
Due: reporting, reporting-server

Added restrictions, comments and log errors
  packages/reporting-server/rest_server/default_config.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
Due: reporting, reporting-server

update component names in react-components
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/task-state/index.ts
  packages/react-components/lib/reports/task-state/task-state-report-table.tsx
  packages/react-components/lib/reports/task-state/task-state-report.tsx
  packages/reporting/src/components/reports/task-summary-report.tsx
Due: react-components, reporting

add task summary files and remove outdated files
  packages/reporting-server/models/task_summary.py
  packages/reporting-server/parsers/task_state_parser.py
  packages/reporting-server/parsers/task_summary_parser.py
  packages/reporting-server/parsers/test_task_state_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/repositories/report/task_summary.py
Due: reporting, reporting-server

fix tests and log examples
  packages/reporting-server/models/task_summary.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reports/task-summary-report.tsx
Due: reporting, reporting-server

add back deleted component files
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.tsx
Due: react-components
