Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

updating frontend with new pagination schema
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/apis/admin-api.ts
  packages/api-client/lib/openapi/apis/default-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/get-fleets-response.ts
  packages/api-client/lib/openapi/models/get-robots-response.ts
  packages/api-client/lib/openapi/models/get-role-permission.ts
  packages/api-client/lib/openapi/models/get-tasks-response.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/post-role-permissions.ts
  packages/api-client/lib/openapi/models/post-roles.ts
  packages/api-client/lib/openapi/models/post-users.ts
  packages/api-client/lib/openapi/models/user.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/routes/fleets.py
  packages/react-components/stories/tasks/task-table.stories.tsx
  packages/react-components/tests/test-data/tasks.ts
Due: react-components, api-server

working copy of robot auto refresh
  packages/api-client/lib/index.ts
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/robots/auto-refresh.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/robots/utils.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components, api-server

add endpoint to get effective permissions
  packages/api-client/lib/openapi/apis/default-api.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/permission.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/authz.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/test_main_route.py
  packages/api-server/api_server/services/tasks.py
Due: api-server

return authz_grp of tasks
  packages/api-client/lib/openapi/models/task.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fixing frontends to support new changes in api server
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/auth/__mocks__/fake-authenticator.ts
  packages/dashboard/src/components/auth/contexts.ts
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
  packages/reporting/src/components/app.tsx
  packages/reporting/src/components/auth-contexts.tsx
  packages/reporting/src/components/auth/__mocks__/fake-authenticator.ts
  packages/rmf-auth/lib/authenticator.ts
  packages/rmf-auth/lib/components/login-hoc.tsx
  packages/rmf-auth/lib/components/private-route-base.tsx
  packages/rmf-auth/lib/components/private-route-hoc.tsx
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/lib/user.ts
  packages/rmf-auth/tests/components/login-base.test.tsx
  packages/rmf-auth/tests/components/login-hoc.test.tsx
  packages/rmf-auth/tests/components/private-route-hoc.test.tsx
  packages/rmf-auth/tests/fake-authenticator.ts
Due: dashboard, reporting, rmf-auth

add custom to index and change phase variant
  packages/react-components/lib/commands/index.ts
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-phases.tsx
Due: react-components

add custom components
  packages/react-components/lib/commands/custom-form.tsx
  packages/react-components/lib/tasks/custom-task-panel.tsx
  packages/react-components/lib/tasks/custom-task-table.tsx
Due: react-components

add components to dashboard
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/single-responsibility-pages/bev-station-page.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

Removed payload from all Tortoise models
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/reporting-server/models/auth_events.py
  packages/reporting-server/models/dispenser_state.py
  packages/reporting-server/models/door_state.py
  packages/reporting-server/models/fleet_state.py
  packages/reporting-server/models/health.py
  packages/reporting-server/models/ingestor_state.py
  packages/reporting-server/models/lift_state.py
  packages/reporting-server/models/task_summary.py
  packages/reporting-server/parsers/auth_event_parser.py
  packages/reporting-server/parsers/dispenser_state_parser.py
  packages/reporting-server/parsers/doors_state_parser.py
  packages/reporting-server/parsers/fleet_state_parser.py
  packages/reporting-server/parsers/health_parser.py
  packages/reporting-server/parsers/ingestor_state_parser.py
  packages/reporting-server/parsers/lift_state_parser.py
  packages/reporting-server/parsers/task_summary_parser.py
  packages/reporting-server/parsers/test_dispenser_state_parser.py
  packages/reporting-server/parsers/test_doors_state_parser.py
  packages/reporting-server/parsers/test_fleet_state_parser.py
  packages/reporting-server/parsers/test_health_parser.py
  packages/reporting-server/parsers/test_ingestor_parser.py
  packages/reporting-server/parsers/test_lift_state_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
Due: react-components, reporting, reporting-server

Removed the payload from raw_logs
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/tests/reports/utils.ts
  packages/reporting-server/models/raw_log.py
  packages/reporting/src/components/reports/all-logs-report.tsx
Due: react-components, reporting, reporting-server

output to dist
  packages/react-components/.gitignore
  packages/react-components/package.json
  packages/react-components/scripts/build.js
  packages/react-components/tsconfig.json
Due: react-components

fix lint outside lib dir
  packages/react-components/.eslintrc.js
  packages/react-components/stories/robots/robot-panel.stories.tsx
Due: react-components

update test runner configs; use transpileOnly ts-loader for faster startup
  packages/react-components/karma.conf.js
  packages/react-components/lib/color-manager.spec.ts
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
  packages/react-components/test-data/assets/tiny-robot.png
  packages/react-components/webpack.config.js
Due: react-components

update stories
  packages/react-components/stories/benchmarks/robots.stories.tsx
  packages/react-components/stories/benchmarks/trajectories.stories.tsx
  packages/react-components/stories/command-forms.stories.tsx
  packages/react-components/stories/design-decisions.stories.tsx
  packages/react-components/stories/door-accordion.stories.tsx
  packages/react-components/stories/door-markers.stories.tsx
  packages/react-components/stories/lift-marker.stories.tsx
  packages/react-components/stories/robot-markers.stories.tsx
  packages/react-components/stories/robots/robot-info.stories.tsx
  packages/react-components/stories/robots/robot-panel.stories.tsx
  packages/react-components/stories/robots/robot-table.stories.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/stories/tasks/task-info.stories.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/stories/tasks/task-phases.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
  packages/react-components/stories/trajectory-marker.stories.tsx
Due: react-components

fix tests
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/dashboard/src/tests/hotkeys.test.ts
  packages/react-components/lib/tooltip.spec.tsx
  packages/react-components/lib/tooltip.tsx
Due: dashboard, react-components

change docking to cleaning
  packages/react-components/lib/robots/utils.ts
Due: react-components

fix storybook
  packages/react-components/stories/tooltip.stories.tsx
Due: react-components

more robot table changes
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

remove decimal point from batt percent
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

Fix/reduce size of logs by removing payload (#425)
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/react-components/tests/reports/utils.ts
  packages/reporting-server/models/auth_events.py
  packages/reporting-server/models/dispenser_state.py
  packages/reporting-server/models/door_state.py
  packages/reporting-server/models/fleet_state.py
  packages/reporting-server/models/health.py
  packages/reporting-server/models/ingestor_state.py
  packages/reporting-server/models/lift_state.py
  packages/reporting-server/models/raw_log.py
  packages/reporting-server/models/task_summary.py
  packages/reporting-server/parsers/auth_event_parser.py
  packages/reporting-server/parsers/dispenser_state_parser.py
  packages/reporting-server/parsers/doors_state_parser.py
  packages/reporting-server/parsers/fleet_state_parser.py
  packages/reporting-server/parsers/health_parser.py
  packages/reporting-server/parsers/ingestor_state_parser.py
  packages/reporting-server/parsers/lift_state_parser.py
  packages/reporting-server/parsers/task_summary_parser.py
  packages/reporting-server/parsers/test_dispenser_state_parser.py
  packages/reporting-server/parsers/test_doors_state_parser.py
  packages/reporting-server/parsers/test_fleet_state_parser.py
  packages/reporting-server/parsers/test_health_parser.py
  packages/reporting-server/parsers/test_ingestor_parser.py
  packages/reporting-server/parsers/test_lift_state_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting/src/components/reports/all-logs-report.tsx
Due: react-components, reporting, reporting-server

Fixed rawLog creation error
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
Due: reporting, reporting-server

Fixed rawLog creation error (#429)
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
Due: reporting, reporting-server

Update builder.dockerfile
  example-deployment/docker/builder.dockerfile
Due: none

Update rmf-server.yaml
  example-deployment/k8s/rmf-server.yaml
Due: none

patch in diff for https://github.com/open-rmf/rmf-web/pull/394
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

fix storybook build
  packages/react-components/package.json
Due: react-components

use user profile in enforcer
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

working refresh and auto refresh
  packages/dashboard/src/components/robots/auto-refresh.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

fix robot refresh
  packages/react-components/lib/robots/robot-panel.tsx
Due: react-components

add TransferList component
  packages/react-components/lib/tasks/test-data.spec.ts
  packages/react-components/lib/transfer-list.stories.tsx
  packages/react-components/lib/transfer-list.tsx
Due: react-components

Set trajLookahead to 10mins
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

add logs creation test file
  packages/reporting-e2e/tests/2-logs-creation-test.ts
  packages/reporting-e2e/tests/3-reporting.test.ts
Due: reporting

add github workflows for reporting e2e
  .github/workflows/reporting-e2e.yml
  packages/reporting-e2e/docker/e2e/Dockerfile
Due: reporting

remove e2e dockerfile
  packages/reporting-e2e/docker/e2e/Dockerfile
Due: reporting

remove docker build instructions
  .github/workflows/reporting-e2e.yml
Due: none

remove needs line
  .github/workflows/reporting-e2e.yml
Due: none

add reporting e2e to lerna json
  lerna.json
Due: none
