Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

Fix/install docs (#452)
  README.md
Due: none

use react.memo instead
  packages/reporting/src/components/report-dashboard.tsx
Due: reporting

resolve more stuff
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/tests/dashboard.test.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: dashboard, react-components

Fix/persist timerange (#453)
  packages/react-components/lib/reports/default-date-form.spec.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.spec.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.tsx
  packages/react-components/lib/reports/door-state/door-state-report.spec.tsx
  packages/react-components/lib/reports/door-state/door-state-report.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.spec.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.tsx
  packages/react-components/lib/reports/health/health-report.spec.tsx
  packages/react-components/lib/reports/health/health-report.tsx
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.spec.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.spec.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.spec.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report.tsx
  packages/react-components/lib/reports/user-report/user-login-report.tsx
  packages/react-components/lib/reports/user-report/user-logout-report.tsx
  packages/react-components/lib/reports/utils.spec.ts
  packages/react-components/lib/reports/utils.ts
  packages/reporting/src/components/dashboard.tsx
  packages/reporting/src/components/report-dashboard.tsx
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reports/dispenser-state-report.tsx
  packages/reporting/src/components/reports/door-state-report.tsx
  packages/reporting/src/components/reports/fleet-state-report.tsx
  packages/reporting/src/components/reports/health-report.tsx
  packages/reporting/src/components/reports/ingestor-state-report.tsx
  packages/reporting/src/components/reports/lift-state-report.tsx
  packages/reporting/src/components/reports/task-summary-report.tsx
  packages/reporting/src/components/reports/user-login-failure-report.tsx
  packages/reporting/src/components/reports/user-login-report.tsx
  packages/reporting/src/components/reports/user-logout-report.tsx
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
  packages/reporting/src/tests/components/report-dashboard.test.tsx
Due: react-components, reporting

fix timeline comments
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

fix test errors
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

fix phase info overflow
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

minimise padding and keep right padding
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

move unused components into _trash folders
  packages/react-components/lib/dispensers/_trash/dispenser-accordion.spec.tsx
  packages/react-components/lib/dispensers/_trash/dispenser-accordion.stories.tsx
  packages/react-components/lib/dispensers/_trash/dispenser-accordion.tsx
  packages/react-components/lib/dispensers/index.ts
  packages/react-components/lib/doors/_trash/door-accordion.spec.tsx
  packages/react-components/lib/doors/_trash/door-accordion.stories.tsx
  packages/react-components/lib/doors/_trash/door-accordion.tsx
  packages/react-components/lib/doors/index.ts
  packages/react-components/lib/lifts/_trash/lift-accordion.spec.tsx
  packages/react-components/lib/lifts/_trash/lift-accordion.stories.tsx
  packages/react-components/lib/lifts/_trash/lift-accordion.tsx
  packages/react-components/lib/lifts/index.ts
  packages/react-components/lib/robots/_trash/robot-accordion.spec.tsx
  packages/react-components/lib/robots/_trash/robot-accordion.stories.tsx
  packages/react-components/lib/robots/_trash/robot-accordion.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/spotlight-accordion.spec.tsx
Due: react-components

shift more components into trash
  packages/react-components/lib/_trash/item-accordion-details.tsx
  packages/react-components/lib/_trash/item-accordion-summary.tsx
  packages/react-components/lib/_trash/notifications-dialog.spec.tsx
  packages/react-components/lib/_trash/notifications-dialog.stories.tsx
  packages/react-components/lib/_trash/notifications-dialog.tsx
  packages/react-components/lib/_trash/omni-panel-view.tsx
  packages/react-components/lib/_trash/omni-panel.spec.tsx
  packages/react-components/lib/_trash/omni-panel.stories.tsx
  packages/react-components/lib/_trash/omni-panel.tsx
  packages/react-components/lib/_trash/systems-summary/index.ts
  packages/react-components/lib/_trash/systems-summary/systems-summary-alert.spec.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-alert.stories.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-alert.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-banner.spec.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-banner.stories.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-banner.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-item-state.spec.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-item-state.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-item.stories.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-robot-state.spec.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-robot-state.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-spoilt-items.spec.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-spoilt-items.stories.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-spoilt-items.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-task-state.spec.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-task-state.stories.tsx
  packages/react-components/lib/_trash/systems-summary/systems-summary-task-state.tsx
  packages/react-components/lib/_trash/systems-summary/test.utils.spec.ts
  packages/react-components/lib/dispensers/_trash/dispenser-accordion.tsx
  packages/react-components/lib/doors/_trash/door-accordion.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/lifts/_trash/lift-accordion.tsx
  packages/react-components/lib/robots/_trash/robot-accordion.tsx
Due: react-components

fix breaking unit test
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/tests/hotkeys.test.ts
Due: dashboard

remove mainmenu wip and comment out some e2e test
  packages/dashboard-e2e/tests/negotiations.test.ts
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
Due: dashboard

fix test for github cli
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

increase svg text size (#463)
  packages/dashboard-e2e/tests/ui-interactions.test.ts
  packages/react-components/lib/robots/robot-marker.tsx
Due: dashboard, react-components

make unit test and e2e work
  packages/dashboard-e2e/tests/negotiations.test.ts
  packages/dashboard-e2e/tests/ui-interactions.test.ts
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/managers/rmf-health-state-manager.ts
  packages/react-components/lib/doors/door-panel.tsx
Due: dashboard, react-components

more trashing
  packages/dashboard/src/components/__trash/main-menu.test.tsx
  packages/dashboard/src/components/__trash/main-menu.tsx
  packages/dashboard/src/components/__trash/negotiations-panel.test.tsx
  packages/dashboard/src/components/__trash/negotiations-panel.tsx
  packages/dashboard/src/components/__trash/omnipanel-control.tsx
Due: dashboard

don't show panel when no object is present
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/dispensers/dispenser-panel.spec.tsx
  packages/react-components/lib/dispensers/dispenser-panel.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
Due: dashboard, react-components

increase width of panel
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

remove unused icon
  packages/react-components/lib/dispensers/dispenser-panel.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
Due: react-components

add mode color and change some test
  packages/react-components/lib/dispensers/dispenser-table.spec.tsx
  packages/react-components/lib/dispensers/dispenser-table.tsx
Due: react-components

build: resolves resources at build time (#462)
  example-deployment/docker/dashboard.dockerfile
  example-deployment/docker/reporting.dockerfile
  package-lock.json
  packages/dashboard-e2e/dashboard-resources.json
  packages/dashboard-e2e/scripts/get-resources-location.js
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard/.gitignore
  packages/dashboard/package.json
  packages/dashboard/scripts/setup/get-icons.js
  packages/dashboard/scripts/setup/setup.js
  packages/dashboard/src/assets/defaultLogo.png
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/schedule-visualizer/dispensers-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/leaflet-fixture.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/robots-overlay.test.tsx
  packages/dashboard/src/components/tests/app.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-dispensers.test.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
  packages/dashboard/src/managers/tests/resource-manager-robots.test.ts
  packages/react-components/lib/dispensers/dispenser-marker.tsx
  packages/react-components/lib/robots/robot-marker.tsx
Due: dashboard, react-components

remove settings and tour
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app-drawers.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
  packages/dashboard/src/components/dashboard/tour/tests/tour.test.tsx
  packages/dashboard/src/components/dashboard/tour/tour-data.tsx
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/dashboard/tour/tour-navigation-control.tsx
  packages/dashboard/src/components/dashboard/tour/tour.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/components/drawers/tests/settings-drawer.test.tsx
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/app-drawers.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/settings.ts
Due: dashboard

change expect test line to check length
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

remove debug line
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

make changes to theme definition, simple-info and logging component background
  packages/dashboard/src/components/app-base.tsx
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/logging.stories.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/reports/multi-level-menu.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/dark-global-theme.tsx
  packages/react-components/lib/themes/index.ts
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: dashboard, react-components

use regex for time check
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

more fixes to branding logo path
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager-logos.ts
Due: dashboard

remove settings drawer
  packages/minimal/src/components/app-base.tsx
  packages/minimal/src/components/app-drawers.tsx
  packages/minimal/src/components/appbar.tsx
  packages/minimal/src/components/drawers/drawer-header.tsx
  packages/minimal/src/components/drawers/settings-drawer.tsx
  packages/minimal/src/components/drawers/tests/drawer-header.test.tsx
  packages/minimal/src/components/drawers/tests/settings-drawer.test.tsx
Due: none

remove .rmf artifacts
  packages/minimal/.gitignore
  packages/minimal/.rmf/.rmf_schedule_node.yaml
  packages/minimal/.rmf/web_server.log
Due: none

only border body cell, modify userlistcard table
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/react-components/lib/commands/command-forms.stories.tsx
  packages/react-components/lib/commands/form-styles.ts
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/dark-global-theme.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: dashboard, react-components

fix admin drawer theme and styling
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/page-css.ts
Due: dashboard

fix unit test
  packages/dashboard/src/components/admin/tests/drawer.spec.tsx
Due: dashboard

trajecotry time control component
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/trajectory-time-control.test.tsx
  packages/dashboard/src/components/schedule-visualizer/trajectory-time-control.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/hotkeys.ts
  packages/dashboard/src/stories/scheduler-visualizer/trajectory-time-control.stories.tsx
  packages/react-components/lib/robots/trajectory-marker.spec.tsx
  packages/react-components/lib/robots/trajectory-marker.tsx
  packages/react-components/lib/robots/trajectory-paths.tsx
Due: dashboard, react-components

resolve linting errors
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/tasks/utils.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/utils.py
  packages/api-server/api_server/services/tasks.py
  packages/api-server/api_server/services/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

add comment on broken events
  packages/dashboard/src/components/schedule-visualizer/trajectory-time-control.tsx
Due: dashboard

fix tests
  packages/dashboard/src/components/schedule-visualizer/tests/trajectory-time-control.test.tsx
  packages/dashboard/src/components/schedule-visualizer/trajectory-time-control.tsx
  packages/dashboard/src/tests/hotkeys.test.ts
Due: dashboard

save schedule visualizer settings in localStorage
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/settings.ts
Due: dashboard

remove images from public folder
  packages/minimal/public/assets/aron-visuals-3jBU9TbKW7o-unsplash.jpg
  packages/minimal/public/assets/icons/dashboard_config.json
  packages/minimal/public/assets/icons/dispensers/coke_dispenser/coke_dispenser.json
  packages/minimal/public/assets/icons/dispensers/coke_ingestor/coke_ingestor.json
  packages/minimal/public/assets/icons/dispensers/coke_ingestor/humanIcon.png
  packages/minimal/public/assets/icons/logos/header/header.json
  packages/minimal/public/assets/icons/logos/header/headerLogo.png
  packages/minimal/public/assets/icons/main.json
  packages/minimal/public/assets/icons/robots/deliveryRobot/deliveryRobot.json
  packages/minimal/public/assets/icons/robots/deliveryRobot/deliveryRobot.png
  packages/minimal/public/assets/icons/robots/tinyRobot/tinyRobot.json
  packages/minimal/public/assets/icons/robots/tinyRobot/tinyRobot.png
  packages/minimal/public/assets/ros-health.png
  packages/minimal/public/defaultLogo.png
Due: none

change info color and change role table border color
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/dark-global-theme.tsx
Due: dashboard, react-components

Path conditions:
  dashboard: any of: packages/dashboard, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  react-components: any of: packages/react-components, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  api-server: any of: packages/api-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting: any of: packages/reporting, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting-server: any of: packages/reporting-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  rmf-auth: any of: packages/rmf-auth, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
