Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

update index file
  packages/react-components/lib/reports/task-summary/index.ts
Due: react-components

fix tests
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/config_auth.py
  packages/api-server/api_server/test/test_config.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

replace RouteFixture2
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

update deps, fix security issues
  packages/api-server/setup.py
  packages/reporting-server/setup.py
Due: api-server, reporting, reporting-server

rename dispatcher and resolve data retrieval on frontend
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/parser_dispatcher.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
  packages/reporting/src/components/reporter-side-bar-structure.tsx
Due: react-components, reporting, reporting-server

update lock file
  Pipfile.lock
Due: none

fix tests
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

chore: update deps, fix security issues (#401)
  Pipfile.lock
  packages/api-server/api_server/routes/test_fixtures.py
  packages/api-server/setup.py
  packages/reporting-server/setup.py
Due: api-server, reporting, reporting-server

add tests for task summary components
  packages/react-components/tests/reports/tasks/task-summary-report-table.spec.tsx
  packages/react-components/tests/reports/tasks/task-summary-report.spec.tsx
  packages/react-components/tests/reports/utils.ts
Due: react-components

add several example users to showcase authorization
  example-deployment/keycloak-tools/bootstrap-keycloak.js
  example-deployment/keycloak-tools/utils.js
  example-deployment/rmf_server_config.py
Due: none

fix wrong token
  example-deployment/keycloak-tools/get-cert.js
  example-deployment/rmf_server_config.py
  packages/api-server/api_server/default_config.py
Due: api-server

update README
  example-deployment/README.md
Due: none

update robot and task panel, remove border colors
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/linear-progress-bar.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

add utils to access task summary object and description rendering
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/task-summary/utils.tsx
Due: react-components

resolve test error
  packages/react-components/tests/reports/tasks/task-summary-report-table.spec.tsx
  packages/react-components/tests/reports/utils.ts
Due: react-components

render create task button depending on if user can submit task
  packages/dashboard/.storybook/main.js
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/components/tests/test-utils.ts
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/utils.ts
  packages/rmf-auth/lib/user.ts
Due: dashboard, react-components, rmf-auth

update rmf-auth with roles and groups
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/tests/components/login-base.test.tsx
  packages/rmf-auth/tests/components/login-hoc.test.tsx
  packages/rmf-auth/tests/components/private-route-base.test.tsx
  packages/rmf-auth/tests/components/private-route-hoc.test.tsx
Due: rmf-auth

add global css and redo some styles
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/settings.ts
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/item-accordion-summary.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/tasks/task-info.tsx
Due: dashboard, react-components

fix task admin not able to see tasks
  packages/api-server/api_server/app.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

update readme
  packages/api-server/README.md
Due: api-server

move cancel task button to task-panel
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/tests/tasks/task-info.spec.tsx
Due: dashboard, react-components

revert db url in default config
  packages/reporting-server/rest_server/default_config.py
Due: reporting, reporting-server

disable cancel task button if user does not have required permission
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
Due: dashboard

fix unit test
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/tests/robots/robot-info.spec.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/robots/robot-table.spec.tsx
  packages/react-components/tests/robots/test-utils.ts
Due: react-components

storybook
  packages/react-components/stories/robots/robot-info.stories.tsx
  packages/react-components/stories/robots/robot-panel.stories.tsx
  packages/react-components/stories/robots/robot-table.stories.tsx
Due: react-components

return task owner from tasks endpoint
  packages/api-client/lib/openapi/models/get-tasks-response.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/task-progress.ts
  packages/api-client/lib/openapi/models/task.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/tasks/utils.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/tests/robots/robot-info.spec.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/test-data/tasks.ts
Due: dashboard, react-components, api-server

fix owner cannot cancel own task
  packages/dashboard/src/components/permissions.ts
Due: dashboard

use new task api
  packages/dashboard/src/components/tasks/auto-refresh.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/auto-refresh.test.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
Due: dashboard

correct assignment of property in model
  packages/reporting-server/models/task_summary.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting, reporting-server

fix
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/tasks.py
Due: api-server

add check for None value
  packages/reporting-server/parsers/task_summary_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting, reporting-server

make e2e user superadmin
  packages/dashboard-e2e/docker/keycloak/keycloak.mv.db
Due: dashboard

update api-client
  packages/api-client/lib/openapi/models/task.ts
  packages/api-client/lib/version.ts
Due: none

fix book keeper tests
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

fix progress type
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

shift most fonts to global css
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/settings.ts
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/dispensers/dispenser-accordion.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/lifts/lift-accordion.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/index.ts
Due: dashboard, react-components

Update default_config.py
  packages/reporting-server/rest_server/default_config.py
Due: reporting, reporting-server

feat:reporting:reporting-server: Added a task summary report (#400)
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/task-summary/index.ts
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.tsx
  packages/react-components/lib/reports/task-summary/utils.tsx
  packages/react-components/tests/reports/tasks/task-summary-report-table.spec.tsx
  packages/react-components/tests/reports/tasks/task-summary-report.spec.tsx
  packages/react-components/tests/reports/utils.ts
  packages/reporting-server/models/__init__.py
  packages/reporting-server/models/task_summary.py
  packages/reporting-server/parsers/task_summary_parser.py
  packages/reporting-server/parsers/test_task_summary_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/parser_dispatcher.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
  packages/reporting-server/rest_server/repositories/report/task_summary.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reporter-side-bar-structure.tsx
  packages/reporting/src/components/reports/task-summary-report.tsx
Due: react-components, reporting, reporting-server

change == to ===
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

override material background and text theme
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/status-label.tsx
  packages/react-components/lib/themes/global-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/stories/theme.stories.tsx
Due: dashboard, react-components
