Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
ignore:
  - 'src/rmf-web/packages/react-components/tests/test-data'
  - 'src/rmf-web/packages/react-components/tests/robots/test-utils.ts'

Added test to the resource manager logos
  packages/dashboard/src/managers/__mocks__/resources.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
Due: dashboard

use onChange instead of onblur
  package-lock.json
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

add tests for batch tasks
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/tests/tasks/create-task.spec.tsx
  packages/react-components/tests/tasks/utils.ts
Due: react-components

fix num_loops verification
  packages/react-components/lib/tasks/task-panel.tsx
Due: react-components

fix some fields not populated on load from file
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

fix(dashboard): fix sometimes wrongly sending number of loops as 1 in firefox (#367)
  package-lock.json
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

testing
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

fix task priority sometimes not set in firefox
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

update submit tasks to accept array of tasks
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

fix crash when cancelling file selection dialog
  packages/react-components/lib/tasks/task-panel.tsx
Due: react-components

ignore function from coverage
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

more tests for create task form
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/create-task.spec.tsx
Due: react-components

ignore file from coverage
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

change text to "Submit All" when in batch mode
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

always use sim time and correct end time on ui
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/utils.ts
Due: react-components, api-server

add cancel task
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
Due: dashboard, react-components

add tests
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/task-info.spec.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components

add default header logo
  packages/dashboard/public/defaultLogo.png
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

set rmf use sim to false and revert some changes
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/dashboard/package.json
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/utils.ts
Due: dashboard, react-components, api-server

add demo logo path to appbar (#365)
  packages/dashboard/public/defaultLogo.png
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/__mocks__/resources.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
Due: dashboard

correct placment of break statement
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

disable cancel button for non active tasks; move makeSubmitTask to test-data
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/tests/tasks/create-task.spec.tsx
  packages/react-components/tests/tasks/utils.ts
  packages/react-components/tests/test-data/tasks.ts
Due: react-components

return http 500 when rmf cancel task fails
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard, api-server

show failed snackbar when cancel task fails
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

set requester to rmf-server
  packages/api-server/api_server/routes/tasks/dispatcher.py
Due: api-server

fix tests
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

typo
  packages/api-server/api_server/routes/fleets.py
Due: api-server

feat(dashboard): add cancel task (#369)
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/tests/tasks/create-task.spec.tsx
  packages/react-components/tests/tasks/task-info.spec.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
  packages/react-components/tests/tasks/utils.ts
  packages/react-components/tests/test-data/tasks.ts
Due: dashboard, react-components, api-server

initial commit
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

more changes
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

remove pagination offset
  packages/react-components/lib/robots/robot-panel.tsx
Due: react-components

reset create task form on close
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components

use the places context to get the list of waypoints
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/place.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/waypoints-overlay.tsx
Due: dashboard

fix tests
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/utils.ts
  packages/dashboard/src/components/schedule-visualizer/tests/waypoints-overlay.test.tsx
Due: dashboard

refactor robot panel design
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

chore(dashboard): remove tasks and robot page smoke tests
  packages/dashboard/src/components/robots/tests/robot-page.test.tsx
  packages/dashboard/src/components/tasks/tests/task-page.test.tsx
Due: dashboard

chore(dashboard): remove robot page from test coverage
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

update unit tests
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/robots/robot-table.spec.tsx
Due: react-components

reset create task form on close (#374)
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components
