Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth

Added a test to a lift state
  packages/reporting-server/rest_server/repositories/report/test_lift_state.py
Due: reporting, reporting-server

Removed leftover and fixed a lint problem
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/report/test_lift_state.py
Due: reporting, reporting-server

fix ordering of pagination
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

refactor confirmation dialog
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/user-list.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/confirm-dialog-actions.stories.tsx
  packages/react-components/lib/confirm-dialog-actions.tsx
  packages/react-components/lib/confirmation-alert-dialog.spec.tsx
  packages/react-components/lib/confirmation-alert-dialog.tsx
  packages/react-components/lib/confirmation-dialog.spec.tsx
  packages/react-components/lib/confirmation-dialog.stories.tsx
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/index.ts
Due: dashboard, react-components

add yml workflow for reporting-e2e
  .github/workflows/reporting-e2e.yml
Due: none

multi select task panel and fix styles
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

add role dialog
  packages/dashboard/src/components/admin/add-role-dialog.tsx
  packages/dashboard/src/components/admin/add-user-dialog.tsx
  packages/dashboard/src/stories/admin/add-role-dialog.stories.tsx
  packages/dashboard/src/stories/admin/add-user-dialog.stories.tsx
Due: dashboard

link create user/role dialogs with cards
  packages/dashboard/.storybook/preview.js
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/role-list.tsx
  packages/dashboard/src/components/admin/tests/role-list.test.tsx
  packages/dashboard/src/components/admin/tests/user-list.test.tsx
  packages/dashboard/src/components/admin/user-list.tsx
  packages/dashboard/src/stories/admin/create-role-dialog.stories.tsx
  packages/dashboard/src/stories/admin/create-user-dialog.stories.tsx
  packages/dashboard/src/stories/admin/role-list.stories.tsx
  packages/dashboard/src/stories/admin/user-list.stories.tsx
  packages/react-components/lib/confirmation-dialog.tsx
Due: dashboard, react-components

refactor create task form to use confirmation dialog, allow submitting with enter button, add tests
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/tests/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-user-dialog.test.tsx
  packages/dashboard/src/components/admin/user-list.tsx
  packages/react-components/lib/confirmation-dialog.spec.tsx
  packages/react-components/lib/confirmation-dialog.stories.tsx
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

add put user roles endpoint
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/test_admin_route.py
Due: api-server

update api client
  packages/api-client/lib/openapi/apis/admin-api.ts
  packages/api-client/lib/version.ts
Due: none

sorting of tasks on frontend
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/utils.tsx
Due: dashboard

filtering base on task states
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components

update keycloak db file to persist reporting client
  packages/dashboard-e2e/docker/keycloak/keycloak.mv.db
  packages/reporting-e2e/docker/keycloak/keycloak.mv.db
Due: dashboard, reporting

update test scripts and add kill process
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/tests/mock-data.ts
  packages/reporting-e2e/wdio.conf.js
Due: reporting

add reporting e2e yml and correct readme
  .github/workflows/reporting-e2e.yml
  packages/reporting-e2e/README.md
Due: reporting

wip integrating backend
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/index.ts
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/page-css.ts
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/tests/manage-roles-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/role-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-list-card.test.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/utils.ts
  packages/dashboard/src/stories/admin/manage-roles-dialog.stories.tsx
  packages/dashboard/src/stories/admin/role-list-card.stories.tsx
  packages/dashboard/src/stories/admin/user-list-card.stories.tsx
  packages/dashboard/src/util/url.ts
  packages/react-components/lib/confirmation-dialog.tsx
Due: dashboard, react-components

Added test_report file
  packages/reporting-server/rest_server/routers/test_report.py
Due: reporting, reporting-server

Feature - Add task sorting and filtering in task panel (#438)
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/utils.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components

tooltips and disable buttons
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/robots/robot-marker.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

pass mapref to door accordian and make it click
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/item-accordion-summary.tsx
Due: dashboard, react-components

fix e2e test, add more details to tooltips
  packages/dashboard-e2e/tests/negotiations.test.ts
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/robots/base-marker.ts
  packages/react-components/lib/robots/robot-marker.tsx
Due: dashboard, react-components

admin panel
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/tests/drawer.spec.tsx
  packages/dashboard/src/stories/admin/drawer.stories.tsx
Due: dashboard

fix unit test
  packages/react-components/lib/robots/default-marker.spec.tsx
  packages/react-components/lib/robots/robot-marker.spec.tsx
Due: react-components

fix storybook build error
  packages/react-components/lib/benchmarks/robots.stories.tsx
  packages/react-components/lib/robots/robot-markers.stories.tsx
Due: react-components

remove wip admin tabs
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

undo example deployment changes as they should not be needed in v2
  example-deployment/README.md
  example-deployment/keycloak-tools/bootstrap-keycloak.js
  example-deployment/keycloak-tools/get-cert.js
  example-deployment/keycloak-tools/utils.js
  example-deployment/rmf_server_config.py
Due: none

make example user an admin
  example-deployment/rmf_server_config.py
Due: none

fix tests
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/test/test_config.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/rmf-auth/tests/components/private-route-base.test.tsx
Due: api-server, rmf-auth

update e2e config
  packages/dashboard-e2e/rmf_server_config.py
Due: dashboard

hardcode positions of doors and robots
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

use footprint
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  react-components: any of: packages/react-components, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  api-server: any of: packages/api-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting: any of: packages/reporting, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  reporting-server: any of: packages/reporting-server, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
  rmf-auth: any of: packages/rmf-auth, but not: src/rmf-web/packages/react-components/tests/test-data, src/rmf-web/packages/react-components/tests/robots/test-utils.ts
